---
import { Image } from "astro:assets";
import Base from "@layouts/Base.astro";
import ProgettoCardFull from "@components/ProgettoCardFull.astro";
import Contatti from "@components/Contatti.astro";

import leftBlur from "@images/index/faq-blur-left.png";
import rightBlur from "@images/index/faq-blur-right.png";

import heroSliderImage1 from "@images/index/hero-slider-1.png";
import heroSliderImage2 from "@images/index/hero-slider-2.png";
import heroSliderImage3 from "@images/index/hero-slider-3.png";
import heroSliderImage4 from "@images/index/hero-slider-4.png";
import heroSliderImage5 from "@images/index/hero-slider-5.png";

import valtrighebasketballMobile from "@images/index/progetti/valtrighebasketballMobile.png";
import chiaraiencarelliMobile from "@images/index/progetti/chiaraiencarelliMobile.png";
import giovannibrambillaMobile from "@images/index/progetti/giovannibrambillaMobile.png";
import centropagnoncelliMobile from "@images/index/progetti/centropagnoncelliMobile.png";
import centrodelcoloreMobile from "@images/index/progetti/centrodelcoloreMobile.png";
import italomapelliMobile from "@images/index/progetti/italomapelliMobile.png"

import valtrighebasketball from "@images/index/progetti/valtrighebasketball.png";
import chiaraiencarelli from "@images/index/progetti/chiaraiencarelli.png";
import giovannibrambilla from "@images/index/progetti/giovannibrambilla.png";
import centropagnoncelli from "@images/index/progetti/centropagnoncelli.png";
import centrodelcolore from "@images/index/progetti/centrodelcolore.png";
import italomapelli from "@images/index/progetti/italomapelli.png"
---

<Base
    title="progetti"
    description="Progetti web realizzati per imprese, professionisti e startup. Design responsive, UX curata e sviluppo performante."
>
    <Contatti />

    <section class="w-full px-normal mt-40 z-20 relative">
        <div id="progettiBlur" class="absolute top-[calc(50%_-_550px)] left-0 overflow-hidden h-[1100px] w-full pointer-events-none">
            <div class="absolute -left-8 top-0 opacity-80">
                <Image src={leftBlur} alt="" class="relative object-contain -z-10" />
            </div>
            <div class="absolute -right-8 top-0 opacity-80">
                <Image src={rightBlur} alt="" class="relative object-contain -z-10" />
            </div>
        </div>
        <div class="w-full flex flex-col items-center justify-center">
            <h1 class="text-6xl font-normal font-robit max-w-[500px] text-center max-md:text-5xl max-sm:text-[10.5vw]">Sfoglia i miei <span id="progettiTitle" class="font-medium">lavori</span>!</h1>
            <div id="progettiImageContainer" class="mt-24 relative flex w-full justify-center items-center max-md:mt-16 max-sm:mt-12">
                <div data-progetti-image class="z-30 h-full flex flex-col items-end gap-2 w-[550px] max-md:w-auto max-md:max-w-[90vw]">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-2xl bg-gray/20 backdrop-blur-md p-1">
                        <div class="z-20 w-full h-full relative">
                            <Image src={heroSliderImage1} alt="" class="w-full h-full object-cover rounded-xl" />
                        </div>
                    </div>
                </div>
                <div data-progetti-image class="z-20 h-full flex flex-col items-end gap-2 w-[550px] absolute rotate-3 max-md:w-auto max-md:max-w-[90vw]">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-[22px] bg-gray/20 backdrop-blur-md p-1">
                        <div class="z-20 w-full h-full relative">
                            <Image src={heroSliderImage2} alt="" class="w-full h-full object-cover rounded-[18px]" />
                        </div>
                    </div>
                </div>
                <div data-progetti-image class="z-20 h-full flex flex-col items-end gap-2 w-[550px] absolute -rotate-6 max-md:w-auto max-md:max-w-[90vw]">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-[22px] bg-gray/20 backdrop-blur-md p-1">
                        <div class="z-20 w-full h-full relative">
                            <Image src={heroSliderImage3} alt="" class="w-full h-full object-cover rounded-[18px]" />
                        </div>
                    </div>
                </div>
                <div data-progetti-image class="z-10 h-full flex flex-col items-end gap-2 w-[550px] absolute -rotate-12 max-md:w-auto max-md:max-w-[90vw]">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-[22px] bg-gray/20 backdrop-blur-md p-1">
                        <div class="z-20 w-full h-full relative">
                            <Image src={heroSliderImage4} alt="" class="w-full h-full object-cover rounded-[18px]" />
                        </div>
                    </div>
                </div>
                <div data-progetti-image class="z-10 h-full flex flex-col items-end gap-2 w-[550px] absolute rotate-6 max-md:w-auto max-md:max-w-[90vw]">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-[22px] bg-gray/20 backdrop-blur-md p-1">
                        <div class="z-20 w-full h-full relative">
                            <Image src={heroSliderImage5} alt="" class="w-full h-full object-cover rounded-[18px]" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="px-normal w-full z-20 mt-40 max-w-[1920px] max-lg:mt-36 max-sm:mt-20">
        <div class="w-full flex flex-col gap-8">
            <ProgettoCardFull 
                title="Giovanni Brambilla"
                description="Pittore locale. Archivio opere, biografia, mostre. Layout minimal ed elegante, focus visivo sui dipinti. Illustrazione a 360 gradi dell'artista con biografia, opere e mostre."
                href="https://giovannibrambilla.com"
                imageFront={giovannibrambilla}
                imageMobile={giovannibrambillaMobile}
                tags={['PHP', 'GSAP']}
                colors={['fff6ef', '1e1e1e']}
                index={1}
            >
                <svg width="53" height="20" viewBox="0 0 53 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.068 19.168C11.9373 19.168 11.732 19.1587 11.452 19.14C11.172 19.1213 10.8733 19.1027 10.556 19.084C10.2387 19.0653 9.94 19.0467 9.66 19.028C9.38 19.0093 9.17467 19 9.044 19H7.448C7.31733 19 7.112 19.0093 6.832 19.028C6.552 19.0467 6.25333 19.0653 5.936 19.084C5.63733 19.1027 5.348 19.1213 5.068 19.14C4.788 19.1587 4.58267 19.168 4.452 19.168L4.396 19.056L4.48 18.552L4.62 18.44C4.91867 18.44 5.25467 18.4307 5.628 18.412C6.00133 18.3747 6.26267 18.2907 6.412 18.16C6.56133 18.0293 6.72 17.8613 6.888 17.656C7.056 17.4507 7.15867 17.0867 7.196 16.564C7.21467 16.4333 7.224 16.284 7.224 16.116C7.24267 15.9293 7.252 15.7053 7.252 15.444C7.27067 15.1827 7.28 14.8653 7.28 14.492C7.28 14.1187 7.28 13.652 7.28 13.092V7.408C7.28 6.19467 7.27067 5.12133 7.252 4.188C7.23333 3.236 7.21467 2.51733 7.196 2.032H6.888C5.95467 2.032 5.18933 2.04133 4.592 2.06C3.99467 2.06 3.50933 2.07867 3.136 2.116C2.78133 2.13467 2.51067 2.16267 2.324 2.2C2.156 2.23733 2.03467 2.284 1.96 2.34C1.54933 2.564 1.29733 3.04933 1.204 3.796L1.092 3.908H0.448L0.644 0.715998L0.756 0.463998L0.924 0.379999C1.07333 0.435999 1.4 0.491999 1.904 0.547999C2.408 0.585333 2.95867 0.613333 3.556 0.631999C4.15333 0.650666 4.72267 0.669332 5.264 0.687999C5.824 0.687999 6.22533 0.687999 6.468 0.687999H9.996C10.2387 0.687999 10.6307 0.687999 11.172 0.687999C11.732 0.669332 12.3107 0.650666 12.908 0.631999C13.5053 0.613333 14.056 0.585333 14.56 0.547999C15.064 0.491999 15.3907 0.435999 15.54 0.379999L15.708 0.463998L15.82 0.715998L16.044 3.908H15.372L15.26 3.796C15.1667 3.04933 14.9147 2.564 14.504 2.34C14.4293 2.284 14.2987 2.23733 14.112 2.2C13.944 2.16267 13.6733 2.13467 13.3 2.116C12.9453 2.07867 12.4693 2.06 11.872 2.06C11.2747 2.04133 10.5187 2.032 9.604 2.032H9.296C9.27733 2.57333 9.25867 3.28267 9.24 4.16C9.24 5.03733 9.24 6.11067 9.24 7.38V12.532C9.24 13.204 9.24 13.7547 9.24 14.184C9.24 14.5947 9.24 14.94 9.24 15.22C9.25867 15.5 9.268 15.7427 9.268 15.948C9.28667 16.1347 9.30533 16.34 9.324 16.564C9.36133 17.0867 9.464 17.4507 9.632 17.656C9.8 17.8613 9.95867 18.0293 10.108 18.16C10.2573 18.2907 10.5187 18.3747 10.892 18.412C11.2653 18.4307 11.6013 18.44 11.9 18.44L12.04 18.552L12.124 19.056L12.068 19.168ZM27.8502 11.468L27.4022 11.664C26.3942 11.664 25.3582 11.6733 24.2942 11.692C23.2302 11.7107 22.1848 11.72 21.1582 11.72H17.8542C17.8355 11.8507 17.8262 11.9813 17.8262 12.112C17.8262 12.224 17.8262 12.336 17.8262 12.448C17.8262 13.1573 17.9288 13.8387 18.1342 14.492C18.3395 15.1267 18.6568 15.6867 19.0862 16.172C19.5342 16.6573 20.1035 17.0493 20.7942 17.348C21.4848 17.628 22.3248 17.768 23.3142 17.768C23.8928 17.768 24.5088 17.712 25.1622 17.6C25.8342 17.4693 26.4502 17.2453 27.0102 16.928L27.2902 17.096V17.6L27.0102 17.908C26.5622 18.2627 25.9275 18.5893 25.1062 18.888C24.2848 19.168 23.3702 19.308 22.3622 19.308C21.3728 19.308 20.4675 19.1493 19.6462 18.832C18.8435 18.496 18.1435 18.0293 17.5462 17.432C16.9675 16.8347 16.5102 16.1253 16.1742 15.304C15.8568 14.4827 15.6982 13.568 15.6982 12.56C15.6982 11.5333 15.8662 10.6 16.2022 9.76C16.5382 8.92 16.9955 8.20133 17.5742 7.604C18.1715 7.00667 18.8622 6.54 19.6462 6.204C20.4488 5.868 21.3075 5.7 22.2222 5.7C22.7075 5.7 23.2488 5.76533 23.8462 5.896C24.4622 6.02667 25.0502 6.27867 25.6102 6.652C26.1702 7.00667 26.6742 7.52 27.1222 8.192C27.5702 8.84533 27.8782 9.71333 28.0462 10.796L27.8502 11.468ZM22.2502 6.96C21.6528 6.96 21.1115 7.06267 20.6262 7.268C20.1595 7.45467 19.7395 7.716 19.3662 8.052C19.0115 8.36933 18.7128 8.752 18.4702 9.2C18.2462 9.62933 18.0875 10.0867 17.9942 10.572H19.0862C20.0942 10.572 21.0742 10.5627 22.0262 10.544C22.9782 10.5067 23.9768 10.46 25.0222 10.404C25.2648 10.3853 25.4235 10.32 25.4982 10.208C25.5915 10.096 25.6382 9.96533 25.6382 9.816C25.6382 9.704 25.6288 9.60133 25.6102 9.508C25.5915 9.41467 25.5635 9.32133 25.5262 9.228C25.3208 8.51867 24.9382 7.968 24.3782 7.576C23.8182 7.16533 23.1088 6.96 22.2502 6.96ZM33.9117 7.52C33.9117 7.59467 33.9771 7.75333 34.1077 7.996C34.2571 8.23867 34.4531 8.53733 34.6957 8.892C34.9384 9.24667 35.2184 9.648 35.5357 10.096C35.8531 10.544 36.1984 11.0013 36.5717 11.468C36.9264 11.0387 37.2531 10.6093 37.5517 10.18C37.8504 9.75067 38.1117 9.368 38.3357 9.032C38.5597 8.67733 38.7371 8.37867 38.8677 8.136C38.9984 7.87467 39.0637 7.70667 39.0637 7.632C39.0637 7.25867 38.9891 7.03467 38.8397 6.96C38.6904 6.86667 38.4011 6.78267 37.9717 6.708L37.8597 6.596V6.26L37.9717 6.148C38.3451 6.204 38.6531 6.25067 38.8957 6.288C39.1571 6.30667 39.4464 6.316 39.7637 6.316H40.9117C41.2291 6.316 41.5371 6.29733 41.8357 6.26C42.1531 6.22267 42.4984 6.18533 42.8717 6.148L42.9837 6.26V6.652L42.8157 6.792C42.5171 6.82933 42.2464 6.88533 42.0037 6.96C41.7797 7.016 41.5651 7.10933 41.3597 7.24C41.1731 7.352 40.9864 7.50133 40.7997 7.688C40.6317 7.856 40.4544 8.08 40.2677 8.36C39.9317 8.808 39.6331 9.20933 39.3717 9.564C39.1291 9.91867 38.8864 10.2547 38.6437 10.572C38.4197 10.8707 38.1957 11.1693 37.9717 11.468C37.7664 11.7667 37.5424 12.0933 37.2997 12.448C37.7291 13.0267 38.1584 13.596 38.5877 14.156C39.0171 14.6973 39.3997 15.192 39.7357 15.64C40.0717 16.0693 40.3424 16.424 40.5477 16.704C40.7717 16.9653 40.9024 17.1053 40.9397 17.124C41.2011 17.4787 41.4904 17.7773 41.8077 18.02C42.1437 18.244 42.6104 18.4027 43.2077 18.496L43.3757 18.636V19.028L43.2637 19.14C42.9464 19.1027 42.5917 19.0653 42.1997 19.028C41.8077 18.9907 41.4624 18.972 41.1637 18.972H40.0717C39.7731 18.972 39.4277 18.9907 39.0357 19.028C38.6437 19.0653 38.2611 19.1027 37.8877 19.14L37.7757 19.028V18.692L37.8877 18.58C38.2051 18.5613 38.4757 18.4867 38.6997 18.356C38.9237 18.2253 39.0357 18.0853 39.0357 17.936C39.0357 17.8427 38.9984 17.712 38.9237 17.544C38.8677 17.376 38.7277 17.1333 38.5037 16.816C38.2984 16.48 37.9997 16.0413 37.6077 15.5C37.2344 14.9587 36.7397 14.268 36.1237 13.428C35.7504 13.876 35.3771 14.3333 35.0037 14.8C34.6491 15.2667 34.3224 15.696 34.0237 16.088C33.7251 16.48 33.4824 16.816 33.2957 17.096C33.1277 17.376 33.0437 17.5533 33.0437 17.628C33.0437 17.9453 33.1557 18.16 33.3797 18.272C33.6224 18.384 33.9584 18.4773 34.3877 18.552L34.4997 18.664V19L34.3877 19.112C34.0144 19.056 33.7064 19.0187 33.4637 19C33.2211 19 32.9411 19 32.6237 19H31.4757C31.1584 19 30.8411 19.0093 30.5237 19.028C30.2064 19.0467 29.8704 19.0747 29.5157 19.112L29.4037 19V18.608L29.5717 18.468C29.8704 18.412 30.1131 18.356 30.2997 18.3C30.5051 18.244 30.6917 18.1693 30.8597 18.076C31.0277 17.964 31.1864 17.8333 31.3357 17.684C31.5037 17.516 31.6904 17.3013 31.8957 17.04C32.2131 16.6293 32.6797 16.0133 33.2957 15.192C33.9304 14.352 34.6024 13.4187 35.3117 12.392C34.8637 11.7947 34.3504 11.1133 33.7717 10.348C33.2117 9.564 32.5677 8.71467 31.8397 7.8C31.6157 7.52 31.3544 7.296 31.0557 7.128C30.7757 6.94133 30.4211 6.82933 29.9917 6.792L29.8237 6.652V6.26L29.9357 6.148C30.2531 6.18533 30.6077 6.22267 30.9997 6.26C31.3917 6.29733 31.7371 6.316 32.0357 6.316H33.1277C33.4264 6.316 33.7624 6.29733 34.1357 6.26C34.5277 6.22267 34.9104 6.18533 35.2837 6.148L35.3957 6.26V6.596L35.2837 6.708C34.9104 6.74533 34.5837 6.81067 34.3037 6.904C34.0424 6.99733 33.9117 7.20267 33.9117 7.52ZM52.0107 7.436H48.3707C48.3707 8.64933 48.3613 9.76933 48.3427 10.796C48.3427 11.8227 48.3427 12.728 48.3427 13.512C48.3427 14.2773 48.3333 14.8933 48.3147 15.36C48.3147 15.8267 48.3147 16.116 48.3147 16.228C48.3147 16.956 48.4547 17.4413 48.7347 17.684C49.0147 17.9267 49.3413 18.048 49.7147 18.048C50.032 18.048 50.396 17.992 50.8067 17.88C51.236 17.7493 51.5813 17.6093 51.8427 17.46L52.0947 17.656L51.8427 18.44C51.4133 18.7387 50.928 18.9533 50.3867 19.084C49.864 19.2333 49.3973 19.308 48.9867 19.308C48.0347 19.308 47.3627 19.0467 46.9707 18.524C46.5787 18.0013 46.3827 17.3293 46.3827 16.508C46.3827 16.34 46.392 15.9947 46.4107 15.472C46.4293 14.9493 46.448 14.296 46.4667 13.512C46.4853 12.728 46.504 11.8227 46.5227 10.796C46.5413 9.76933 46.5507 8.64933 46.5507 7.436H44.5347L44.4227 7.296V6.764L44.5347 6.652L46.5507 6.26C46.5507 5.60667 46.532 4.944 46.4947 4.272C46.476 3.58133 46.448 2.90933 46.4107 2.256L46.6067 2.088L46.9987 2.06C47.148 2.04133 47.3907 2.004 47.7267 1.948C48.0627 1.892 48.296 1.82667 48.4267 1.752L48.6787 1.864C48.6227 2.12533 48.576 2.43333 48.5387 2.788C48.5013 3.124 48.464 3.488 48.4267 3.88C48.408 4.272 48.3893 4.67333 48.3707 5.084C48.3707 5.49467 48.3707 5.88667 48.3707 6.26L52.0107 6.092L52.1507 6.204V7.296L52.0107 7.436Z" fill="white"/>
                </svg>
            </ProgettoCardFull>

            <ProgettoCardFull 
                title="Centro Del Colore"
                description="a"
                href="https://centrodelcolore.it"
                imageFront={centrodelcolore}
                imageMobile={centrodelcoloreMobile}
                tags={['AstroJS', 'Strapi']}
                colors={['f5f5f5', '202020', 'ab3030', '304dab']}
                index={2}
            >
                <svg width="59" height="22" viewBox="0 0 59 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.087 0.979999V4.746H10.871V21H6.447V4.746H0.231V0.979999H17.087ZM27.2042 15.771H31.1452C30.3052 19.285 27.4912 21.42 23.7392 21.42C19.0842 21.42 15.9412 18.13 15.9412 13.265C15.9412 8.414 19.0492 5.145 23.6552 5.145C28.2192 5.145 31.2152 8.351 31.2152 13.244C31.2152 13.615 31.2012 13.993 31.1592 14.385H19.9872C20.2602 16.695 21.6742 18.067 23.8582 18.067C25.4892 18.067 26.5952 17.297 27.2042 15.771ZM20.0362 11.795H27.1902C26.8402 9.59 25.6362 8.442 23.6762 8.442C21.6672 8.442 20.3722 9.66 20.0362 11.795ZM46.9061 5.565L41.9571 13.167L47.3821 21H42.5101L38.7231 15.232L35.0411 21H30.4351L35.6221 13.223L30.4911 5.565H35.3631L38.8631 11.214L42.3001 5.565H46.9061ZM58.5045 20.881C57.2025 21.238 56.0545 21.413 55.0465 21.413C51.6515 21.413 49.8735 19.404 49.8735 15.477V8.897H47.9415V5.565H49.8735V2.009H54.0665V5.565H58.5045V8.897H54.0665V15.484C54.0665 17.255 54.6895 18.039 56.1175 18.039C56.6915 18.039 57.4545 17.913 58.5045 17.647V20.881Z" fill="white"/>
                </svg>
            </ProgettoCardFull>

            <ProgettoCardFull 
                title="Valtrighe Basketball"
                description="Torneo di basket 3x3 a Valtrighe (BG). Punteggi, classifiche, informazioni. UI giovanile, backend personalizzato. Gestione delle iscrizioni tramite sito web."
                href="https://valtrighebasketball.com"
                imageFront={valtrighebasketball}
                imageMobile={valtrighebasketballMobile}
                tags={['PHP', 'GSAP', 'COCKPIT']}
                colors={['fff','101010','e79433']}
                index={3}
            >
                <svg width="48" height="25" viewBox="0 0 48 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6 8.096H10.4C9.812 12.212 8.916 16.496 9.14 20.64C9.168 21.48 9.308 22.348 9.364 23.188C9.42 23.832 9.364 23.972 8.664 24.056C7.208 24.168 5.528 24.14 3.988 24.084C3.372 24.056 3.148 23.972 3.232 23.328C3.568 19.1 4.072 14.648 5.304 10.588C5.472 10 5.724 9.44 5.92 8.88C4.884 8.964 3.876 9.216 2.896 9.468C2.448 9.58 2.028 9.776 1.636 9.86C1.048 9.944 0.936 9.776 0.964 9.216C1.048 8.208 1.272 6.164 1.468 5.24C1.608 4.792 1.748 4.792 2.14 4.68C6.284 3.56 10.512 2.608 14.628 1.46C15.076 1.376 15.496 1.18 15.916 1.068C16.532 0.899999 16.728 1.096 16.644 1.684C16.56 2.496 16.308 3.364 16.168 4.176C15.972 5.24 15.86 6.22 15.636 7.256C15.524 8.04 15.44 8.096 14.6 8.096ZM13.6239 18.036C13.7079 17.448 13.7639 16.86 13.8759 16.328C13.5679 16.328 13.3159 16.356 13.0079 16.384C12.3079 16.412 12.0839 16.272 12.1959 15.572C12.3919 14.564 12.5879 13.584 12.8399 12.604C13.0639 11.764 13.8199 12.128 14.5199 12.1C14.6879 11.428 14.8559 10.672 14.9959 9.972C14.6319 9.972 14.2399 10 13.8759 9.972C13.3719 9.944 13.1759 9.86 13.2599 9.3C13.4279 8.348 13.6239 7.368 13.8479 6.388C13.9599 6.024 14.1839 5.912 14.5479 5.884C17.3199 5.548 20.1199 5.268 22.8919 4.988C23.5639 4.96 23.7319 5.212 23.6199 5.856L23.0599 9.412C22.9759 9.916 22.8359 9.972 22.3039 10.028C20.7919 10.14 19.3079 10.168 17.7679 10.168L17.3199 12.212C18.0199 12.156 18.8319 11.96 19.5879 11.96C20.0359 11.96 20.2319 12.156 20.2039 12.604C20.1199 13.5 20.0359 14.508 19.8679 15.404C19.7279 16.048 17.8239 15.88 17.2639 15.936C17.1239 16.524 16.9839 17.112 16.8719 17.728C18.2439 17.504 19.5879 17.336 20.9039 17.308C21.6039 17.252 21.7719 17.392 21.7439 18.092C21.6879 19.1 21.5199 20.108 21.3799 21.116C21.2399 21.144 21.0719 21.2 20.9319 21.2C18.2999 21.312 15.7799 21.592 13.2039 22.236C12.9239 22.32 12.6439 22.376 12.3359 22.376C11.8319 22.404 11.6639 22.236 11.6919 21.732C11.7479 20.752 11.8879 19.688 12.0279 18.708C12.0839 18.148 12.1679 18.064 12.7279 18.064C13.0359 18.036 13.3159 18.036 13.6239 18.036ZM28.9041 11.4C30.1081 9.552 31.4521 7.676 32.7681 5.94C33.2721 5.184 33.4681 5.156 34.1401 5.744C34.6161 6.164 35.0921 6.612 35.5401 7.032C35.9881 7.452 35.9601 7.564 35.6241 8.04C33.8881 10.504 31.9281 12.828 30.3601 15.32C31.5921 17.056 32.9641 18.652 34.6441 19.856C34.1401 20.668 32.8521 21.536 32.0401 22.152C31.4521 22.6 31.2841 22.516 30.8361 21.928C29.9681 20.752 29.1841 19.492 28.2321 18.372C27.6161 19.772 26.9721 21.172 26.3561 22.572C26.0201 23.384 25.9921 23.412 25.2081 23.048C24.4801 22.684 23.7521 22.32 22.9961 21.928C22.2961 21.592 22.2961 21.452 22.6601 20.78C23.8081 18.82 25.0121 16.888 26.1601 14.928C25.0401 12.94 24.0041 10.924 23.5001 8.656C23.1641 7.032 23.2201 7.144 24.5641 6.696C25.2361 6.472 25.9361 6.276 26.6081 6.108C27.2241 5.94 27.2801 6.024 27.4761 6.612C27.9241 8.236 28.2321 9.888 28.9041 11.4ZM47.7249 3.168C47.5289 4.624 47.3329 6.052 47.0529 7.536C46.8569 8.32 46.8569 8.376 46.0449 8.404C44.8689 8.432 43.7769 8.432 42.6569 8.544L41.7609 12.688C41.1169 15.74 40.8089 18.764 40.5009 21.788C40.3609 23.132 40.2209 23.244 38.8769 23.076C37.9529 22.908 37.0009 22.712 36.0769 22.46C35.4609 22.264 35.4329 22.152 35.5449 21.536C35.7689 20.416 35.9649 19.24 36.2729 18.12C36.9729 14.984 37.8129 11.848 38.4009 8.712C37.4209 8.768 36.4689 8.88 35.5169 8.992C34.6769 9.076 34.6209 9.076 34.5649 8.264C34.5089 7.452 34.4529 6.668 34.4249 5.884C34.4249 5.268 34.5089 5.156 35.0969 4.988C38.9329 3.98 43.7769 3.392 47.7249 3.168Z" fill="white"/>
                </svg>
            </ProgettoCardFull>

            <ProgettoCardFull 
                title="Centro Pagnoncelli"
                description="Punto di riferimento locale per ristrutturazioni. Fornitura pavimenti, rivestimenti, arredo bagno. Design solido, navigazione intuitiva, focus sui servizi."
                href="https://centropagnoncelli.it"
                imageFront={centropagnoncelli}
                imageMobile={centropagnoncelliMobile}
                colors={['fcfcfc', '1c1511', 'eb6d12']}
                tags={['AstroJS', 'Strapi', 'Matomo']}
                index={4}
            >
                <svg width="57" height="21" viewBox="0 0 57 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.768 20.084V19.384L6.384 19.328C7.14933 19.2533 7.728 19.16 8.12 19.048C8.53067 18.9173 8.81067 18.656 8.96 18.264C9.128 17.8533 9.212 17.1907 9.212 16.276V0.875999H5.264C4.40533 0.875999 3.724 1.044 3.22 1.38C2.73467 1.69733 2.30533 2.22 1.932 2.948C1.57733 3.676 1.15733 4.64667 0.672 5.86L0.084 5.72L0.784 2.276L1.092 0.0359983L9.072 0.119999H11.732L19.74 0.0359983L20.048 2.276L20.748 5.72L20.132 5.888C19.7027 4.80533 19.3013 3.89067 18.928 3.144C18.5733 2.39733 18.1533 1.83733 17.668 1.464C17.1827 1.072 16.5387 0.875999 15.736 0.875999H11.592V16.276C11.592 17.1907 11.6667 17.8533 11.816 18.264C11.984 18.656 12.2733 18.9173 12.684 19.048C13.0947 19.16 13.6733 19.2533 14.42 19.328L15.036 19.384V20.084L10.472 20L5.768 20.084ZM26.8607 20.308C25.6288 20.308 24.5554 20.0467 23.6408 19.524C22.7261 18.9827 22.0074 18.2453 21.4848 17.312C20.9808 16.36 20.7288 15.2773 20.7288 14.064C20.7288 12.7573 21.0088 11.6 21.5688 10.592C22.1288 9.56533 22.8754 8.76267 23.8088 8.184C24.7608 7.58667 25.8061 7.288 26.9448 7.288C28.3821 7.288 29.5021 7.74533 30.3048 8.66C31.1261 9.57467 31.5368 10.7787 31.5368 12.272C31.5368 12.496 31.5274 12.6827 31.5088 12.832C31.4901 12.9813 31.4714 13.084 31.4528 13.14H22.9968C22.9781 13.4013 22.9688 13.6627 22.9688 13.924C22.9688 14.9133 23.1274 15.8373 23.4448 16.696C23.7621 17.536 24.2381 18.208 24.8728 18.712C25.5261 19.216 26.3194 19.468 27.2528 19.468C28.1301 19.468 28.9048 19.2253 29.5768 18.74C30.2674 18.236 30.7994 17.4987 31.1728 16.528L31.8448 16.78C31.0608 19.132 29.3994 20.308 26.8607 20.308ZM26.9448 7.988C25.7874 7.988 24.8821 8.39867 24.2288 9.22C23.5941 10.0413 23.2021 11.1333 23.0528 12.496H26.6088C27.4488 12.496 28.0834 12.4027 28.5128 12.216C28.9608 12.0107 29.2594 11.768 29.4088 11.488C29.5768 11.1893 29.6608 10.9 29.6608 10.62C29.6608 9.79867 29.3808 9.15467 28.8208 8.688C28.2608 8.22133 27.6354 7.988 26.9448 7.988ZM32.5391 20.084V19.44L32.9031 19.384C33.7617 19.2533 34.4617 18.964 35.0031 18.516C35.5631 18.0493 36.0671 17.564 36.5151 17.06L38.9791 14.288L35.0311 9.948C34.5831 9.46267 34.2097 9.108 33.9111 8.884C33.6311 8.64133 33.2951 8.50133 32.9031 8.464L32.6511 8.436V7.792L35.7871 7.876L38.9231 7.792V8.436L38.4751 8.52C38.4004 8.53867 38.2697 8.576 38.0831 8.632C37.8964 8.688 37.7191 8.772 37.5511 8.884C37.4017 8.97733 37.3271 9.11733 37.3271 9.304C37.3271 9.528 37.4857 9.82667 37.8031 10.2L40.3511 13L42.8431 10.2C43.1044 9.92 43.2351 9.64 43.2351 9.36C43.2351 9.136 43.0951 8.94933 42.8151 8.8C42.5351 8.632 42.2084 8.52 41.8351 8.464L41.6671 8.436V7.792L44.9151 7.876L47.0431 7.792V8.436L46.7351 8.464C45.9697 8.53867 45.2977 8.80933 44.7191 9.276C44.1591 9.74267 43.6364 10.2467 43.1511 10.788L40.7711 13.476L44.1591 17.2C44.5884 17.6667 45.0457 18.124 45.5311 18.572C46.0164 19.02 46.5297 19.2907 47.0711 19.384L47.3791 19.44V20.056L44.6071 20L41.1351 20.056V19.412L41.5831 19.356C42.3111 19.2627 42.6751 19.0573 42.6751 18.74C42.6751 18.6467 42.6471 18.5347 42.5911 18.404C42.5537 18.2547 42.4604 18.1053 42.3111 17.956L39.3991 14.764L36.9071 17.648C36.7764 17.7787 36.6644 17.928 36.5711 18.096C36.4964 18.2453 36.4591 18.3947 36.4591 18.544C36.4591 18.7307 36.5337 18.908 36.6831 19.076C36.8324 19.2253 37.0844 19.3187 37.4391 19.356L37.8871 19.412V20.084L35.2551 20L32.5391 20.084ZM53.242 20.308C52.3273 20.308 51.5807 20.0373 51.002 19.496C50.442 18.936 50.162 18.0307 50.162 16.78V8.492H48.09V7.792L48.846 7.736C49.6113 7.68 50.19 7.372 50.582 6.812C50.9927 6.23333 51.2633 5.43067 51.394 4.404H52.122V7.792H55.706V8.492H52.122V16.892C52.122 18.5347 52.7007 19.356 53.858 19.356C54.3433 19.356 54.7353 19.1973 55.034 18.88C55.3327 18.544 55.6033 18.1333 55.846 17.648L56.462 17.956C56.35 18.236 56.21 18.4973 56.042 18.74C55.8927 18.964 55.7433 19.16 55.594 19.328C55.2767 19.6827 54.9127 19.9347 54.502 20.084C54.11 20.2333 53.69 20.308 53.242 20.308Z" fill="white"/>
                </svg>
            </ProgettoCardFull>

            <ProgettoCardFull 
                title="Chiara Iencarelli"
                description="Landing page descrittiva ed essenziale per un'osteopata, pensata per trasmettere fiducia e professionalità, ottimizzata per la conversione e la prenotazione di appuntamenti."
                href="https://chiaraiencarelli.it"
                imageFront={chiaraiencarelli}
                imageMobile={chiaraiencarelliMobile}
                tags={['AstroJS']}
                colors={['fff6f0', '2c1f16', 'af7f5f']}
                index={5}
            >
                <svg width="59" height="22" viewBox="0 0 59 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.087 0.979999V4.746H10.871V21H6.447V4.746H0.231V0.979999H17.087ZM27.2042 15.771H31.1452C30.3052 19.285 27.4912 21.42 23.7392 21.42C19.0842 21.42 15.9412 18.13 15.9412 13.265C15.9412 8.414 19.0492 5.145 23.6552 5.145C28.2192 5.145 31.2152 8.351 31.2152 13.244C31.2152 13.615 31.2012 13.993 31.1592 14.385H19.9872C20.2602 16.695 21.6742 18.067 23.8582 18.067C25.4892 18.067 26.5952 17.297 27.2042 15.771ZM20.0362 11.795H27.1902C26.8402 9.59 25.6362 8.442 23.6762 8.442C21.6672 8.442 20.3722 9.66 20.0362 11.795ZM46.9061 5.565L41.9571 13.167L47.3821 21H42.5101L38.7231 15.232L35.0411 21H30.4351L35.6221 13.223L30.4911 5.565H35.3631L38.8631 11.214L42.3001 5.565H46.9061ZM58.5045 20.881C57.2025 21.238 56.0545 21.413 55.0465 21.413C51.6515 21.413 49.8735 19.404 49.8735 15.477V8.897H47.9415V5.565H49.8735V2.009H54.0665V5.565H58.5045V8.897H54.0665V15.484C54.0665 17.255 54.6895 18.039 56.1175 18.039C56.6915 18.039 57.4545 17.913 58.5045 17.647V20.881Z" fill="white"/>
                </svg>
            </ProgettoCardFull>

            <ProgettoCardFull 
                title="Italo Mapelli"
                description="Portfolio digitale. Opere, biografia, visione artistica. Design monocromatico essenziale per valorizzare l'espressione emotiva. Focus sulle opere artistiche."
                href="https://italomapelli.com"
                imageFront={italomapelli}
                imageMobile={italomapelliMobile}
                tags={['Eleventy']}
                colors={['c0ddf7', '020508']}
                index={6}
            >
                <svg width="49" height="21" viewBox="0 0 49 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.204 4.768V4.712C14.56 2.36 12.992 0.791999 10.556 0.791999C9.968 0.791999 9.492 1.268 9.492 1.856V18.684C9.492 19.272 9.968 19.748 10.556 19.748H11.172V20.028H4.984V19.748H5.628C6.188 19.748 6.664 19.272 6.664 18.684V1.856C6.664 1.268 6.188 0.791999 5.628 0.791999C3.192 0.791999 1.596 2.36 0.98 4.712L0.952 4.768H0.672L0.924 0.511999H15.232L15.512 4.768H15.204ZM20.4719 5.888C22.7399 5.888 24.8679 7.456 24.9239 9.836C24.9519 11.376 23.9159 12.496 22.5719 13.336C21.0879 14.26 19.2399 14.204 19.2399 16.444C19.2399 17.06 19.4639 17.62 19.8279 18.04C19.8839 18.096 19.9119 18.124 19.9679 18.18C20.1919 18.404 20.4159 18.628 20.6399 18.768C20.9479 18.992 21.2559 19.132 21.5359 19.216C21.7599 19.3 21.9839 19.3 22.1799 19.244C22.2919 19.216 22.4319 19.16 22.6279 19.076C22.9079 18.992 23.1599 18.852 23.3839 18.684C23.6639 18.544 23.9159 18.404 24.0559 18.32L24.2519 18.656L24.3639 18.824L23.1039 19.552L22.8519 19.692C22.1239 20.112 21.3119 20.308 20.4719 20.308C17.3079 20.308 14.5079 17.088 14.5079 13.112C14.4799 9.108 17.3079 5.888 20.4719 5.888ZM19.0159 14.792C19.9679 13.028 23.2719 12.272 21.9279 8.604C20.8639 5.748 16.9159 6.112 17.2239 11.292C17.3079 12.468 17.5319 13.364 17.8399 14.456L18.0359 14.988C18.2319 15.464 18.4279 15.912 18.6519 16.304V16.22C18.6519 15.688 18.7919 15.212 19.0159 14.792ZM28.1282 8.156C27.5962 7.092 26.7002 6.448 25.6642 6.448V6.112H28.9122C29.6962 6.112 30.3682 6.532 30.7322 7.232L31.0962 7.988L32.3002 10.368L33.0002 11.74L34.9322 7.68C35.1562 7.148 34.8202 6.448 34.2322 6.448H33.7842V6.112H38.0122V6.448H37.5922C36.8082 6.448 36.1362 6.924 35.7722 7.736L33.4762 12.636L36.1922 17.984C36.7242 19.048 37.5922 19.692 38.6562 19.692V20H32.0482V19.692C32.4962 19.692 32.8882 19.748 33.1962 19.188C33.3642 18.852 33.3922 18.488 33.2242 18.152L31.2362 14.288L29.0522 18.46C28.8562 18.992 29.1922 19.692 29.7522 19.692H30.2002V20H26.0002V19.692H26.4202C27.2042 19.692 27.8202 19.188 28.2122 18.404L30.7602 13.364L28.1282 8.156ZM45.0597 2.556V2.584V6.14H48.5317V6.84H45.0597L45.0317 17.424C45.0317 19.048 46.4597 19.636 47.8597 19.132C48.0837 19.048 48.3357 18.936 48.5317 18.768V19.328C47.4957 19.972 46.3197 20.28 44.9757 20.28C43.9397 20.28 42.1757 19.72 42.1757 17.368V6.84H40.0197V6.14C42.2317 6.056 44.0797 4.376 44.6397 2.108H45.0597V2.556Z" fill="white"/>
                </svg>
            </ProgettoCardFull>
        </div>
    </section>
    <div class="z-20 mt-24 mb-20 w-full flex items-center justify-center gap-4 text-gray/40">
        <div class="bg-gradient-to-r from-gray/0 to-gray/40 h-[1px] w-[40px]"></div>
        <span class="uppercase text-sm">Altri lavori</span>
        <div class="bg-gradient-to-r from-gray/40 to-gray/0 h-[1px] w-[40px]"></div>
    </div>
    <section class="px-normal w-full z-20 flex items-center flex-col">
        <div class="w-full flex items-center justify-center gap-4 max-w-[500px] flex-wrap">
            <!--<a href="https://clarapeverali.it" target="_blank" class="px-2 py-1 font-medium bg-green-dark text-green text-sm uppercase rounded-md transition-colors border-[.5px] border-green-dark hover:border-green/40">
                Clara Peverali
                <span>-></span>
            </a>-->
            <a href="https://www.fratellicremonesi.it" target="_blank" class="px-2 py-1 font-medium bg-green-dark text-green text-sm uppercase rounded-md transition-colors border-[.5px] border-green-dark hover:border-green/40">
                Fratelli cremonesi 
                <span>-></span>
            </a>
            <a href="https://edilmantegazza.it" target="_blank" class="px-2 py-1 font-medium bg-green-dark text-green text-sm uppercase rounded-md transition-colors border-[.5px] border-green-dark hover:border-green/40">
                Mantegazza Srl 
                <span>-></span>
            </a>
            <a href="https://easydrinkandfood.it" target="_blank" class="px-2 py-1 font-medium bg-green-dark text-green text-sm uppercase rounded-md transition-colors border-[.5px] border-green-dark hover:border-green/40">
                Easy Drink & Food 
                <span>-></span>
            </a>
            <a href="https://arkitechstp.it" target="_blank" class="px-2 py-1 font-medium bg-green-dark text-green text-sm uppercase rounded-md transition-colors border-[.5px] border-green-dark hover:border-green/40">
                Arkitech Stp 
                <span>-></span>
            </a>
            <a href="https://architetttogrossicostruzioni.it" target="_blank" class="px-2 py-1 font-medium bg-green-dark text-green text-sm uppercase rounded-md transition-colors border-[.5px] border-green-dark hover:border-green/40">
                Arch. Grossi Costruzioni 
                <span>-></span>
            </a>
        </div>
    </section>
</Base>

<script>
    import { gsap } from "gsap/gsap-core";
    import { TextPlugin } from "gsap/all";
    gsap.registerPlugin(TextPlugin);

    const heroTl = gsap.timeline({ paused: true })
    heroTl.from('#progettiTitle', {text: '#9*$è+'}, '-=.6')
    .from('#progettiBlur', {opacity: 0, duration: .6, delay: .2}, '-=.4')
    .from('#progettiImageContainer [data-progetti-image]', {
        opacity: 0,
        stagger: .4
    }, '-=.4')
    .from('#privacyBanner', {opacity: 0, x: 20}, '-=1.2')

    window.addEventListener("load", () => {
        document.body.style.overflowY = 'auto'
        const loadingTl = gsap.timeline({
            ease: 'none',
            onComplete: () => {heroTl.play(0)}
        })
        loadingTl.to('#textLoading span', { text: '.', border: 'none', stagger: .05}, '-=.4')
        loadingTl.to(['#loadingBr', '#textLoading p'], {opacity: 0, display: 'none'}, '-=.10')
        loadingTl.to('#loadingContainer', {opacity: 0, display: 'none'})
    })
</script>