---
import { Image } from "astro:assets";
import CornerBorder from "@components/CornerBorder.astro";
import heroSliderImage1 from "@images/index/hero-slider-1.png";
import heroSliderImage2 from "@images/index/hero-slider-2.png";
import heroSliderImage3 from "@images/index/hero-slider-3.png";
import heroSliderImage4 from "@images/index/hero-slider-4.png";
import heroSliderImage5 from "@images/index/hero-slider-5.png";
import heroSliderImage6 from "@images/index/hero-slider-6.png";
import heroSliderImage7 from "@images/index/hero-slider-7.png";
---

<div id="heroSlider" class="w-full z-20 relative mt-8 overflow-hidden pt-4 min-6xl:hidden max-md:hidden">
    <div class="absolute -bottom-20 ml-[5vw] text-gray text-sm max-w-[125px] text-center z-30">
        <span class="flex items-center font-light uppercase text-xs rounded-full relative max-w-fit opacity-60">
            ↑↑ Un po' di siti che ho sviluppato
            <CornerBorder />
        </span>
    </div>
    <div class="w-full">
        <div data-image-scroll class="h-full flex items-center gap-4 min-w-fit -ml-32">
            <div data-image-scroll-animation class="rounded-2xl bg-gray/20 backdrop-blur-md p-1 h-full min-w-[620px] relative flex flex-col items-end group transition-transform hover:-translate-y-2 max-4xl:min-w-[540px] max-2xl:min-w-[500px] max-md:min-w-[450px]">
                <a href="/progetti/" class="w-full h-full">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-xl">
                        <div class="z-20 w-full h-full relative">
                            <div class="z-20 bg-main w-full h-full absolute  opacity-5"></div>
                            <Image src={heroSliderImage6} loading="eager" alt=`Sito sviluppato per Chiara Iencarelli` class="z-10 w-full h-full object-cover rounded-md transition-transform group-hover:scale-110" />
                        </div>
                    </div>
                </a>
            </div>
            <div data-image-scroll-animation class="rounded-2xl bg-gray/20 backdrop-blur-md p-1 h-full min-w-[620px] relative flex flex-col items-end group transition-transform hover:-translate-y-2 max-4xl:min-w-[540px] max-2xl:min-w-[500px] max-md:min-w-[450px]">
                <a href="/progetti/" class="w-full h-full">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-xl">
                        <div class="z-20 w-full h-full relative">
                            <div class="z-20 bg-main w-full h-full absolute  opacity-5"></div>
                            <Image src={heroSliderImage1} loading="eager" alt=`Sito sviluppato per Giovanni Brambilla` class="z-10 w-full h-full object-cover rounded-md transition-transform group-hover:scale-110" />
                        </div>
                    </div>
                </a>
            </div>
            <div data-image-scroll-animation class="rounded-2xl bg-gray/20 backdrop-blur-md p-1 h-full min-w-[620px] relative flex flex-col items-end group transition-transform hover:-translate-y-2 max-4xl:min-w-[540px] max-2xl:min-w-[500px] max-md:min-w-[450px]">
                <a href="/progetti/" class="w-full h-full">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-xl">
                        <div class="z-20 w-full h-full relative">
                            <div class="z-20 bg-main w-full h-full absolute opacity-5"></div>
                            <Image src={heroSliderImage4} loading="eager" alt=`Sito sviluppato per Centro Pagnoncelli` class="z-10 w-full h-full object-cover rounded-md transition-transform group-hover:scale-110" />
                        </div>
                    </div>
                </a>
            </div>
            <div data-image-scroll-animation class="rounded-2xl bg-gray/20 backdrop-blur-md p-1 h-full min-w-[620px] relative flex flex-col items-end group transition-transform hover:-translate-y-2 max-4xl:min-w-[540px] max-2xl:min-w-[500px] max-md:min-w-[450px]">
                <a href="/progetti/" class="w-full h-full">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-xl">
                        <div class="z-20 w-full h-full relative">
                            <div class="z-20 bg-main w-full h-full absolute  opacity-5"></div>
                            <Image src={heroSliderImage2} loading="eager" alt=`Sito sviluppato per Italo Mapelli` class="z-10 w-full h-full object-cover rounded-md transition-transform group-hover:scale-110" />
                        </div>
                    </div>
                </a>
            </div>
            <div data-image-scroll-animation class="rounded-2xl bg-gray/20 backdrop-blur-md p-1 h-full min-w-[620px] relative flex flex-col items-end group transition-transform hover:-translate-y-2 max-4xl:min-w-[540px] max-2xl:min-w-[500px] max-md:min-w-[450px]">
                <a href="/progetti/" class="w-full h-full">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-xl">
                        <div class="z-20 w-full h-full relative">
                            <div class="z-20 bg-main w-full h-full absolute  opacity-5"></div>
                            <Image src={heroSliderImage5} loading="eager" alt=`Sito sviluppato per Fratelli Cremonesi` class="z-10 w-full h-full object-cover rounded-md transition-transform group-hover:scale-110" />
                        </div>
                    </div>
                </a>
            </div>
            <div data-image-scroll-animation class="rounded-2xl bg-gray/20 backdrop-blur-md p-1 h-full min-w-[620px] relative flex flex-col items-end group transition-transform hover:-translate-y-2 max-4xl:min-w-[540px] max-2xl:min-w-[500px] max-md:min-w-[450px]">
                <a href="/progetti/" class="w-full h-full">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-xl">
                        <div class="z-20 w-full h-full relative">
                            <div class="z-20 bg-main w-full h-full absolute  opacity-5"></div>
                            <Image src={heroSliderImage3} loading="eager" alt=`Sito sviluppato per Valtrighe Basketball` class="z-10 w-full h-full object-cover rounded-md transition-transform group-hover:scale-110" />
                        </div>
                    </div>
                </a>
            </div>
            <div data-image-scroll-animation class="rounded-2xl bg-gray/20 backdrop-blur-md p-1 h-full min-w-[620px] relative flex flex-col items-end group transition-transform hover:-translate-y-2 max-4xl:min-w-[540px] max-2xl:min-w-[500px] max-md:min-w-[450px]">
                <a href="/progetti/" class="w-full h-full">
                    <div class="grow bg-style-2 w-full overflow-hidden relative rounded-xl">
                        <div class="z-20 w-full h-full relative">
                            <div class="z-20 bg-main w-full h-full absolute  opacity-5"></div>
                            <Image src={heroSliderImage7} loading="eager" alt=`Sito sviluppato per Centro Del Colore` class="z-10 w-full h-full object-cover rounded-md transition-transform group-hover:scale-110" />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="w-full relative z-20 overflow-hidden min-md:hidden">
    <div class="h-20 w-full bg-gradient-to-b from-green-dark/0 to-green-dark/40 -mb-[1px]"></div>
    <div class="z-20 relative w-full h-full flex flex-col items-center bg-green-dark/40 py-10">
        <div class="z-20 w-2/3 -rotate-3 relative mr-24 shadow-2xl">
            <Image src={heroSliderImage1} loading="eager" alt="" class="z-20 relative w-full h-full object-cover rounded-lg border-2 border-green/20" />
        </div>
        <div class="z-20 w-2/3 rotate-6 relative -mt-12 ml-24 shadow-2xl">
            <Image src={heroSliderImage4} loading="eager" alt="" class="z-20 relative w-full h-full object-cover rounded-lg border-2 border-green/20" />
        </div>
        <div class="z-20 w-2/3 -rotate-6 relative mr-24 shadow-2xl">
            <Image src={heroSliderImage5} loading="eager" alt="" class="z-20 relative w-full h-full object-cover rounded-lg border-2 border-green/20" />
        </div>
        <div class="z-20 w-2/3 rotate-3 relative -mt-12 ml-24 shadow-2xl">
            <Image src={heroSliderImage2} loading="eager" alt="" class="z-20 relative w-full h-full object-cover rounded-lg border-2 border-green/20" />
        </div>
    </div>
    <div class="h-20 w-full bg-gradient-to-t from-green-dark/0 to-green-dark/40 -mb-[1px]"></div>
</div>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    const marchiMM = gsap.matchMedia();
    marchiMM.add("(min-width: 496px)", () => {
        gsap.to('[data-image-scroll]', {
            x: -1600, 
            scrollTrigger: {
                trigger: '[data-image-scroll]',
                start: 'center bottom',
                end: '+=4000px',
                scrub: true,
            }
        })
    });
</script>