---
import { getImage } from "astro:assets";

const { title, description, href, imageBack, imageFront, imageMobile, tags, colors, classCard } = Astro.props;

const backImage = await getImage({ src: imageBack, format: 'webp', height: 800, quality: 100 })
const frontImage = await getImage({ src: imageFront, format: 'webp', width: 800, height: 600, quality: 100 })
const mobileImage = await getImage({ src: imageMobile, format: 'webp', width: 150, quality: 100 })
---

<a href={href} target="_blank" class=`w-full ${classCard} min-w-[520px] max-w-[520px] rounded-2xl bg-green-dark/40 border-green/20 border flex flex-col self-stretch relative group max-lg:min-w-0 max-lg:gap-2 max-lg:max-w-none min-4xl:max-w-none min-4xl:min-h-[500px] transition-all hover:translate-y-4 hover:bg-green-dark/60 max-md:min-w-[85vw]`>
    <div class="w-full pt-4 px-4 flex items-center justify-between">
        <div class="w-[25px] h-[25px] bg-green rounded-full text-green-dark flex items-center justify-center">
            <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.268 14.0934C11.9051 13.4838 13.2303 12.2333 13.9384 10.6469C13.1192 10.7941 12.2138 10.9111 11.2469 10.9925C11.0336 12.2005 10.695 13.2621 10.268 14.0934ZM8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8.48347 14.4823C8.32384 14.494 8.16262 14.5 8 14.5C7.83738 14.5 7.67616 14.494 7.51654 14.4823C7.5132 14.4791 7.50984 14.4759 7.50647 14.4726C7.2415 14.2165 6.94578 13.7854 6.67032 13.1558C6.41594 12.5744 6.19979 11.8714 6.04101 11.0778C6.67605 11.1088 7.33104 11.125 8 11.125C8.66896 11.125 9.32395 11.1088 9.95899 11.0778C9.80021 11.8714 9.58406 12.5744 9.32968 13.1558C9.05422 13.7854 8.7585 14.2165 8.49353 14.4726C8.49016 14.4759 8.4868 14.4791 8.48347 14.4823ZM11.4187 9.72246C12.5137 9.62096 13.5116 9.47245 14.3724 9.28806C14.4561 8.87172 14.5 8.44099 14.5 8C14.5 7.55901 14.4561 7.12828 14.3724 6.71194C13.5116 6.52755 12.5137 6.37904 11.4187 6.27753C11.4719 6.83232 11.5 7.40867 11.5 8C11.5 8.59133 11.4719 9.16768 11.4187 9.72246ZM10.1525 6.18401C10.2157 6.75982 10.25 7.36805 10.25 8C10.25 8.63195 10.2157 9.24018 10.1525 9.81598C9.46123 9.85455 8.7409 9.875 8 9.875C7.25909 9.875 6.53877 9.85455 5.84749 9.81598C5.7843 9.24018 5.75 8.63195 5.75 8C5.75 7.36805 5.7843 6.75982 5.84749 6.18401C6.53877 6.14545 7.25909 6.125 8 6.125C8.74091 6.125 9.46123 6.14545 10.1525 6.18401ZM11.2469 5.00748C12.2138 5.08891 13.1191 5.20593 13.9384 5.35306C13.2303 3.7667 11.9051 2.51622 10.268 1.90662C10.695 2.73788 11.0336 3.79953 11.2469 5.00748ZM8.48347 1.51771C8.4868 1.52089 8.49016 1.52411 8.49353 1.52737C8.7585 1.78353 9.05422 2.21456 9.32968 2.84417C9.58406 3.42562 9.80021 4.12856 9.95899 4.92219C9.32395 4.89118 8.66896 4.875 8 4.875C7.33104 4.875 6.67605 4.89118 6.04101 4.92219C6.19978 4.12856 6.41594 3.42562 6.67032 2.84417C6.94578 2.21456 7.2415 1.78353 7.50647 1.52737C7.50984 1.52411 7.51319 1.52089 7.51653 1.51771C7.67615 1.50597 7.83738 1.5 8 1.5C8.16262 1.5 8.32384 1.50597 8.48347 1.51771ZM5.73202 1.90663C4.0949 2.51622 2.76975 3.7667 2.06159 5.35306C2.88085 5.20593 3.78617 5.08891 4.75309 5.00748C4.96639 3.79953 5.30497 2.73788 5.73202 1.90663ZM4.58133 6.27753C3.48633 6.37904 2.48837 6.52755 1.62761 6.71194C1.54392 7.12828 1.5 7.55901 1.5 8C1.5 8.44099 1.54392 8.87172 1.62761 9.28806C2.48837 9.47245 3.48633 9.62096 4.58133 9.72246C4.52807 9.16768 4.5 8.59133 4.5 8C4.5 7.40867 4.52807 6.83232 4.58133 6.27753ZM4.75309 10.9925C3.78617 10.9111 2.88085 10.7941 2.06159 10.6469C2.76975 12.2333 4.0949 13.4838 5.73202 14.0934C5.30497 13.2621 4.96639 12.2005 4.75309 10.9925Z" fill="currentColor"></path></svg>
        </div>
        <div class="flex items-center h-[25px] w-full justify-end">
            <div class="h-full w-[2px] bg-white/80"></div>
            <div class="h-full w-[4px] bg-main/0"></div>
            <div class="h-full w-[3px] bg-white/80"></div>
            <div class="h-full w-[3px] bg-main/0"></div>
            <div class="h-full w-[4px] bg-white/80"></div>
            <div class="h-full w-[4px] bg-main/0"></div>
            <div class="h-full w-[5px] bg-white/80"></div>
            <div class="h-full w-[3px] bg-main/0"></div>
            <div class="h-full w-[2px] bg-white/80"></div>
            <div class="h-full w-[6px] bg-main/0"></div>
            <div class="h-full w-[2px] bg-white/80"></div>
            <div class="h-full w-[7px] bg-main/0"></div>
            <div class="h-full w-[8px] bg-white/80"></div>
            <div class="h-full w-[2px] bg-main/0"></div>
            <div class="h-full w-[2px] bg-white/80"></div>
            <div class="h-full w-[2px] bg-main/0"></div>
            <div class="h-full w-[3px] bg-white/80"></div>
            <div class="h-full w-[2px] bg-main/0"></div>
            <div class="h-full w-[4px] bg-white/80"></div>
        </div>
    </div>
    <div class="pt-4 px-4">
        <h3 class="text-lg uppercase text-green font-bold">{title}</h3>
        <p class="text-sm text-white/80 mt-1">{description}</p>
    </div>
    <div class="flex items-center gap-4 justify-between max-md:hidden mt-2 py-2 px-4">
        <div class="flex gap-1 items-center">
            {tags.map((e:string) => (
                <span class="uppercase text-xs font-medium bg-green text-green-dark backdrop-blur-md px-2 rounded-full">{e}</span>
            ))}
        </div>
        <div class="flex items-center gap-2 max-lg:hidden">
            {colors.map((e:string) => (
                <div class="w-[25px] h-[25px] rounded-md border opacity-60 border-gray/40" style={`background-color: #${e}`}></div>
            ))}
        </div>  
    </div>
    <div class="grow w-full relative flex items-center justify-center pt-2 pb-4 px-4 overflow-hidden max-lg:min-h-[400px] max-md:min-h-auto max-sm:p-1">
        <div class="w-full h-full flex items-center justify-center relative">
            <img src={backImage.src} alt="" class="z-10 absolute w-full h-full rounded-xl object-cover" />
            <div class="z-30 w-[445px] h-[300px] absolute border bg-green/10 border-green/20 backdrop-blur-md rounded-xl p-2 transition-all group-hover:rotate-3 max-lg:w-[95%] max-lg:h-auto max-md:max-w-[500px] max-sm:p-1">
                <img src={frontImage.src} alt=`Sito sviluppato per ${title}, versione desktop` class="w-full h-full object-cover rounded-lg" />
            </div>
            <div class="z-40 w-[100px] h-[200px] bg-green/10 p-1 rounded-md ml-[300px] mt-[150px] transition-all  backdrop-blur-md group-hover:-rotate-2 border border-green/20 max-lg:mt-[125px] max-lg:min-w-[100px] max-lg:ml-0">
                <img src={mobileImage.src} alt=`Sito sviluppato per ${title}, versione mobile` class="w-full h-full object-cover rounded-sm" />
            </div>
        </div>
    </div>
    <div class="px-4 pb-4 text-green flex justify-between items-center">
        <span class="text-xs uppercase">{href}</span>
        <div class="flex items-center gap-2">
            <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.46968 1.46968C10.1433 -0.203925 12.8567 -0.203923 14.5303 1.46968C16.2039 3.14329 16.2039 5.85674 14.5303 7.53034L12.0303 10.0303L10.9697 8.96968L13.4697 6.46968C14.5575 5.38186 14.5575 3.61816 13.4697 2.53034C12.3819 1.44252 10.6182 1.44252 9.53034 2.53034L7.03034 5.03034L5.96968 3.96968L8.46968 1.46968ZM11.5303 5.53034L5.53034 11.5303L4.46968 10.4697L10.4697 4.46968L11.5303 5.53034ZM1.46968 14.5303C3.14329 16.2039 5.85673 16.204 7.53034 14.5303L10.0303 12.0303L8.96968 10.9697L6.46968 13.4697C5.38186 14.5575 3.61816 14.5575 2.53034 13.4697C1.44252 12.3819 1.44252 10.6182 2.53034 9.53034L5.03034 7.03034L3.96968 5.96968L1.46968 8.46968C-0.203923 10.1433 -0.203925 12.8567 1.46968 14.5303Z" fill="currentColor"></path></svg>
            <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 26 16" width="16" style="width: 26px; color: currentcolor;"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.5 2.25H2.5C1.80964 2.25 1.25 2.80964 1.25 3.5V12.5C1.25 13.1904 1.80964 13.75 2.5 13.75H23.5C24.1904 13.75 24.75 13.1904 24.75 12.5V3.5C24.75 2.80964 24.1904 2.25 23.5 2.25ZM2.5 1C1.11929 1 0 2.11929 0 3.5V12.5C0 13.8807 1.11929 15 2.5 15H23.5C24.8807 15 26 13.8807 26 12.5V3.5C26 2.11929 24.8807 1 23.5 1H2.5ZM15 6.5H13.75V5H15.75H17.75V6.5H16.5V11H15V6.5ZM8.5 6.5H9.75V11H11.25V6.5H12.5V5H10.5H8.5V6.5ZM3 11V5H4.5V7.25H5.5V5H7V11H5.5V8.75H4.5V11H3ZM20.5 11V9H21.25C22.2165 9 23 8.2165 23 7.25V6.75C23 5.7835 22.2165 5 21.25 5H20.5H19.75H19V5.75V8.25V9V11H20.5ZM21.25 7.5H20.5V6.5H21.25C21.3881 6.5 21.5 6.61193 21.5 6.75V7.25C21.5 7.38807 21.3881 7.5 21.25 7.5Z" fill="currentColor"></path></svg>
        </div>
    </div>
</a>