---
import { Image } from "astro:assets";
import blurImage from "@images/index/services-blur.png";
import workBlur from "@images/index/info-dot.png"
import aiImage from "@images/index/services-ai-prompt.png";
import Button1 from "@components/Button1.astro";
import CornerBorder from "@components/CornerBorder.astro";
---

<section id="servizi" class="w-full px-normal mt-56 z-20 max-w-[1920px] min-4xl:px-12 max-lg:mt-36">
    <div class="w-full flex flex-col items-center">
        <div class="flex flex-col gap-4 items-center text-center w-full relative max-lg:gap-2">
            <span class="uppercase text-gray/40 font-light text-sm absolute left-0 bottom-0 text-left max-xl:relative">[04] &nbsp;&nbsp; Services</span>
            <h2 class="text-5xl font-normal font-robit max-lg:text-4xl max-lg:mt-2">Tutti i <span data-servizi-title class="font-medium">servizi</span></h2>
            <p class="max-w-[435px]">Offro un servizio completo dalla A alla Z per creare o migliorare la tua presenza in rete.</p>
        </div>
        <div class="flex w-full mt-16 max-2xl:flex-col">

            <div class="w-1/2 min-h-[475px] border bg-green-dark/20 border-green/20 rounded-tl-2xl relative group max-2xl:w-full max-2xl:min-h-0 max-2xl:rounded-t-2xl max-2xl:border-b-0 overflow-hidden">
                <div class="z-10 w-full h-full absolute top-0 right-0  pointer-events-none scale-y-[-1] max-xl:scale-y-[1] max-xl:scale-x-[-1]">
                    <Image src={workBlur} alt="" quality={100} class="w-full h-full object-cover" />
                </div>
                <div id="servizi1" class="w-full h-full py-8 px-10 relative overflow-hidden max-lg:p-6 max-sm:p-4">
                    <h3 id="serviziTitle1" class="text-xl font-semibold uppercase text-green max-lg:text-lg max-sm:text-base">Web development</h3>
                    <p id="serviziParagraph1" class="z-40 max-w-[325px] mt-2 text-gray/80 max-2xl:max-w-[450px] max-xl:max-w-[320px] max-sm:text-sm max-sm:mt-1">Mi occupo di sviluppare siti web utilizzando le migliori tecnologie in maniera performance oriented.</p>
                    <div id="serviziCheck1" class="max-w-[325px] flex gap-2 flex-wrap mt-4">
                        <span class="uppercase text-xs font-medium bg-green text-green-dark backdrop-blur-md px-2 rounded-full flex items-center gap-1">
                            <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.96702 0.10196C8.25592 0.29086 8.33702 0.6782 8.14812 0.967099L3.89811 7.46712C3.79795 7.62032 3.63568 7.72182 3.45414 7.74502C3.27259 7.76822 3.09001 7.71062 2.95458 7.58752L0.204582 5.08753C-0.0508284 4.85534 -0.0696482 4.46006 0.162542 4.20465C0.394732 3.94924 0.790012 3.93041 1.04542 4.16261L3.25304 6.16953L7.10192 0.283039C7.29082 -0.00586057 7.67812 -0.0869304 7.96702 0.10196Z" fill="currentColor"/>
                            </svg>
                            GDPR
                        </span>
                        <span class="uppercase text-xs font-medium bg-green text-green-dark backdrop-blur-md px-2 rounded-full flex items-center gap-1">
                            <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.96702 0.10196C8.25592 0.29086 8.33702 0.6782 8.14812 0.967099L3.89811 7.46712C3.79795 7.62032 3.63568 7.72182 3.45414 7.74502C3.27259 7.76822 3.09001 7.71062 2.95458 7.58752L0.204582 5.08753C-0.0508284 4.85534 -0.0696482 4.46006 0.162542 4.20465C0.394732 3.94924 0.790012 3.93041 1.04542 4.16261L3.25304 6.16953L7.10192 0.283039C7.29082 -0.00586057 7.67812 -0.0869304 7.96702 0.10196Z" fill="currentColor"/>
                            </svg>
                            SEO Friendly
                        </span>
                        <span class="uppercase text-xs font-medium bg-green text-green-dark backdrop-blur-md px-2 rounded-full flex items-center gap-1">
                            <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.96702 0.10196C8.25592 0.29086 8.33702 0.6782 8.14812 0.967099L3.89811 7.46712C3.79795 7.62032 3.63568 7.72182 3.45414 7.74502C3.27259 7.76822 3.09001 7.71062 2.95458 7.58752L0.204582 5.08753C-0.0508284 4.85534 -0.0696482 4.46006 0.162542 4.20465C0.394732 3.94924 0.790012 3.93041 1.04542 4.16261L3.25304 6.16953L7.10192 0.283039C7.29082 -0.00586057 7.67812 -0.0869304 7.96702 0.10196Z" fill="currentColor"/>
                            </svg>
                            Focus On Performance
                        </span>
                    </div>
                    <div id="serviziTag1" class="z-20 max-w-[350px] flex flex-col gap-2 absolute left-10 bottom-8 max-2xl:relative max-2xl:left-auto max-2xl:bottom-auto max-2xl:mt-20 max-2xl:pl-2">
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Landing Pages
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Sito Aziendale
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Portfolio
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Applicazioni Web
                            <CornerBorder />
                        </span>
                    </div>
                    <div id="serviziImg1" class="w-[300px] h-full absolute -right-4 top-0 flex items-center max-3xl:-right-[75px] max-2xl:right-0 max-lg:-right-[60px] max-[700px]:hidden">
                        <div class="w-[500px] h-full absolute -right-[250px] flex items-center justify-center z-[5]">
                            <svg width="500" height="500" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="250" cy="250" r="249.5" stroke="currentColor" stroke-dasharray="4 4"/>
                            </svg>                                
                        </div>
                        <div class="z-10 absolute -mt-40 -ml-12 transition-transform group-hover:rotate-6 3xl:-ml-4 max-[740px]:-ml-4">
                            <svg width="196" height="129" viewBox="0 0 196 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="195" height="128" rx="7.5" fill="#141414" stroke="currentColor"/>
                                <circle cx="58.5" cy="68.5" r="42.5" stroke="#2CDC5B" stroke-width="2"/>
                                <circle cx="58.5" cy="68.5" r="37.5" fill="#2CDC5B" fill-opacity="0.1"/>
                                <circle cx="58.5" cy="68.5" r="37" stroke="#2CDC5B" stroke-opacity="0.4"/>
                                <path d="M40.46 76V65.88H36.82V64.1H38.62C39.14 64.1 39.56 64.0267 39.88 63.88C40.2 63.72 40.4333 63.4733 40.58 63.14C40.7267 62.8067 40.8 62.36 40.8 61.8H42.56V76H40.46ZM36.12 76V74.02H45.88V76H36.12ZM49.4722 73.88L54.9122 63.82L56.5122 63.92L51.0722 73.98L49.4722 73.88ZM52.9922 76.32C51.9522 76.32 51.0522 76.02 50.2922 75.42C49.5322 74.82 48.9522 73.9667 48.5522 72.86C48.1522 71.7533 47.9522 70.44 47.9522 68.92C47.9522 67.3867 48.1522 66.0667 48.5522 64.96C48.9522 63.8533 49.5322 63 50.2922 62.4C51.0522 61.7867 51.9522 61.48 52.9922 61.48C54.0455 61.48 54.9455 61.7867 55.6922 62.4C56.4522 63 57.0322 63.8533 57.4322 64.96C57.8322 66.0667 58.0322 67.3867 58.0322 68.92C58.0322 70.44 57.8322 71.7533 57.4322 72.86C57.0322 73.9667 56.4522 74.82 55.6922 75.42C54.9455 76.02 54.0455 76.32 52.9922 76.32ZM52.9922 74.36C53.5922 74.36 54.0989 74.1467 54.5122 73.72C54.9389 73.28 55.2655 72.6533 55.4922 71.84C55.7322 71.0267 55.8522 70.0533 55.8522 68.92C55.8522 67.76 55.7322 66.7733 55.4922 65.96C55.2655 65.1467 54.9389 64.5267 54.5122 64.1C54.0989 63.66 53.5922 63.44 52.9922 63.44C52.4055 63.44 51.8989 63.66 51.4722 64.1C51.0455 64.5267 50.7122 65.1467 50.4722 65.96C50.2455 66.7733 50.1322 67.76 50.1322 68.92C50.1322 70.0533 50.2455 71.0267 50.4722 71.84C50.7122 72.6533 51.0455 73.28 51.4722 73.72C51.8989 74.1467 52.4055 74.36 52.9922 74.36ZM61.4644 73.88L66.9044 63.82L68.5044 63.92L63.0644 73.98L61.4644 73.88ZM64.9844 76.32C63.9444 76.32 63.0444 76.02 62.2844 75.42C61.5244 74.82 60.9444 73.9667 60.5444 72.86C60.1444 71.7533 59.9444 70.44 59.9444 68.92C59.9444 67.3867 60.1444 66.0667 60.5444 64.96C60.9444 63.8533 61.5244 63 62.2844 62.4C63.0444 61.7867 63.9444 61.48 64.9844 61.48C66.0377 61.48 66.9377 61.7867 67.6844 62.4C68.4444 63 69.0244 63.8533 69.4244 64.96C69.8244 66.0667 70.0244 67.3867 70.0244 68.92C70.0244 70.44 69.8244 71.7533 69.4244 72.86C69.0244 73.9667 68.4444 74.82 67.6844 75.42C66.9377 76.02 66.0377 76.32 64.9844 76.32ZM64.9844 74.36C65.5844 74.36 66.091 74.1467 66.5044 73.72C66.931 73.28 67.2577 72.6533 67.4844 71.84C67.7244 71.0267 67.8444 70.0533 67.8444 68.92C67.8444 67.76 67.7244 66.7733 67.4844 65.96C67.2577 65.1467 66.931 64.5267 66.5044 64.1C66.091 63.66 65.5844 63.44 64.9844 63.44C64.3977 63.44 63.891 63.66 63.4644 64.1C63.0377 64.5267 62.7044 65.1467 62.4644 65.96C62.2377 66.7733 62.1244 67.76 62.1244 68.92C62.1244 70.0533 62.2377 71.0267 62.4644 71.84C62.7044 72.6533 63.0377 73.28 63.4644 73.72C63.891 74.1467 64.3977 74.36 64.9844 74.36ZM74.0366 68.68C73.2232 68.68 72.5366 68.38 71.9766 67.78C71.4166 67.18 71.1366 66.3067 71.1366 65.16C71.1366 64 71.4166 63.1267 71.9766 62.54C72.5366 61.94 73.2232 61.64 74.0366 61.64C74.8632 61.64 75.5499 61.94 76.0966 62.54C76.6566 63.1267 76.9366 64 76.9366 65.16C76.9366 66.3067 76.6566 67.18 76.0966 67.78C75.5499 68.38 74.8632 68.68 74.0366 68.68ZM74.0366 67.34C74.4366 67.34 74.7499 67.1533 74.9766 66.78C75.2166 66.4067 75.3366 65.8667 75.3366 65.16C75.3366 64.4533 75.2166 63.9133 74.9766 63.54C74.7499 63.1667 74.4366 62.98 74.0366 62.98C73.6366 62.98 73.3166 63.1667 73.0766 63.54C72.8499 63.9133 72.7366 64.4533 72.7366 65.16C72.7366 65.8667 72.8499 66.4067 73.0766 66.78C73.3166 67.1533 73.6366 67.34 74.0366 67.34ZM71.9566 76L80.3766 61.8H81.9966L73.5766 76H71.9566ZM79.9166 76.16C79.0899 76.16 78.3966 75.86 77.8366 75.26C77.2899 74.66 77.0166 73.7867 77.0166 72.64C77.0166 71.48 77.2899 70.6067 77.8366 70.02C78.3966 69.42 79.0899 69.12 79.9166 69.12C80.7299 69.12 81.4166 69.42 81.9766 70.02C82.5366 70.6067 82.8166 71.48 82.8166 72.64C82.8166 73.7867 82.5366 74.66 81.9766 75.26C81.4166 75.86 80.7299 76.16 79.9166 76.16ZM79.9166 74.82C80.3166 74.82 80.6299 74.6333 80.8566 74.26C81.0966 73.8867 81.2166 73.3467 81.2166 72.64C81.2166 71.9333 81.0966 71.3933 80.8566 71.02C80.6299 70.6467 80.3166 70.46 79.9166 70.46C79.5166 70.46 79.1966 70.6467 78.9566 71.02C78.7299 71.3933 78.6166 71.9333 78.6166 72.64C78.6166 73.3467 78.7299 73.8867 78.9566 74.26C79.1966 74.6333 79.5166 74.82 79.9166 74.82Z" fill="#2CDC5B"/>
                                <path d="M0 8C0 3.58172 3.58172 0 8 0H188C192.418 0 196 3.58172 196 8V12H0V8Z" fill="#D9D9D9"/>
                                <rect x="114" y="56" width="65" height="7" rx="3.5" fill="#142619"/>
                                <rect data-web-bar-1 x="115" y="57" width="49" height="5" rx="2.5" fill="#2CDC5B"/>
                                <rect x="114" y="67" width="65" height="7" rx="3.5" fill="#142619"/>
                                <rect x="114" y="78" width="65" height="7" rx="3.5" fill="#142619"/>
                                <rect x="114" y="89" width="65" height="7" rx="3.5" fill="#142619"/>
                                <rect x="114" y="100" width="65" height="7" rx="3.5" fill="#142619"/>
                                <rect data-web-bar-2 x="115" y="68" width="34" height="5" rx="2.5" fill="#2CDC5B"/>
                                <rect data-web-bar-3 x="115" y="79" width="43" height="5" rx="2.5" fill="#2CDC5B"/>
                                <rect data-web-bar-4 x="115" y="90" width="34" height="5" rx="2.5" fill="#2CDC5B"/>
                                <rect data-web-bar-5 x="115" y="101" width="51" height="5" rx="2.5" fill="#2CDC5B"/>
                                <path d="M116.04 38L115.28 30.9H116.33L116.92 37.14H116.8L117.54 31.7H118.46L119.2 37.14H119.08L119.67 30.9H120.72L119.96 38H118.59L117.88 32.8H118.12L117.41 38H116.04ZM121.876 38V30.9H126.236V31.89H122.926V33.96H126.116V34.92H122.926V37.01H126.316V38H121.876ZM127.822 38V30.9H129.882C130.662 30.9 131.256 31.07 131.662 31.41C132.069 31.75 132.272 32.2233 132.272 32.83C132.272 33.1233 132.206 33.3867 132.072 33.62C131.939 33.8467 131.742 34.03 131.482 34.17C131.229 34.3033 130.926 34.3733 130.572 34.38V34.32C131.006 34.32 131.369 34.3933 131.662 34.54C131.962 34.68 132.189 34.88 132.342 35.14C132.496 35.3933 132.572 35.69 132.572 36.03C132.572 36.6567 132.356 37.1433 131.922 37.49C131.496 37.83 130.896 38 130.122 38H127.822ZM128.872 37.02H130.132C130.592 37.02 130.932 36.93 131.152 36.75C131.372 36.5633 131.482 36.3067 131.482 35.98C131.482 35.6333 131.366 35.3633 131.132 35.17C130.906 34.9767 130.572 34.88 130.132 34.88H128.872V37.02ZM128.872 33.91H129.902C130.342 33.91 130.666 33.8233 130.872 33.65C131.079 33.47 131.182 33.22 131.182 32.9C131.182 32.5733 131.079 32.3233 130.872 32.15C130.666 31.97 130.342 31.88 129.902 31.88H128.872V33.91ZM136.078 38.16C135.565 38.16 135.115 38.0567 134.728 37.85C134.348 37.6433 134.045 37.3567 133.818 36.99C133.592 36.6167 133.458 36.1833 133.418 35.69L134.498 35.62C134.545 35.96 134.638 36.2467 134.778 36.48C134.918 36.7133 135.102 36.89 135.328 37.01C135.555 37.1233 135.818 37.18 136.118 37.18C136.412 37.18 136.658 37.1433 136.858 37.07C137.058 36.99 137.212 36.8767 137.318 36.73C137.425 36.5833 137.478 36.4067 137.478 36.2C137.478 35.9867 137.428 35.8 137.328 35.64C137.228 35.48 137.048 35.3333 136.788 35.2C136.528 35.0667 136.148 34.93 135.648 34.79C135.162 34.6567 134.765 34.5067 134.458 34.34C134.152 34.1733 133.928 33.9667 133.788 33.72C133.648 33.4733 133.578 33.1667 133.578 32.8C133.578 32.3933 133.672 32.0367 133.858 31.73C134.052 31.4167 134.325 31.1733 134.678 31C135.038 30.8267 135.468 30.74 135.968 30.74C136.462 30.74 136.882 30.8367 137.228 31.03C137.582 31.2233 137.858 31.4933 138.058 31.84C138.265 32.18 138.392 32.58 138.438 33.04L137.358 33.1C137.325 32.8267 137.248 32.5867 137.128 32.38C137.015 32.1733 136.858 32.0133 136.658 31.9C136.458 31.78 136.218 31.72 135.938 31.72C135.545 31.72 135.232 31.8167 134.998 32.01C134.772 32.1967 134.658 32.4433 134.658 32.75C134.658 32.9567 134.705 33.1267 134.798 33.26C134.892 33.3933 135.055 33.5133 135.288 33.62C135.522 33.7267 135.848 33.8367 136.268 33.95C136.835 34.1033 137.285 34.28 137.618 34.48C137.952 34.68 138.192 34.92 138.338 35.2C138.485 35.48 138.558 35.8133 138.558 36.2C138.558 36.5867 138.455 36.93 138.248 37.23C138.042 37.5233 137.752 37.7533 137.378 37.92C137.012 38.08 136.578 38.16 136.078 38.16ZM139.764 38V37.01H141.464V31.89H139.764V30.9H144.204V31.89H142.504V37.01H144.204V38H139.764ZM147.46 38V31.89H145.38V30.9H150.58V31.89H148.5V38H147.46ZM151.857 38V30.9H156.217V31.89H152.907V33.96H156.097V34.92H152.907V37.01H156.297V38H151.857ZM118.09 48.16C117.577 48.16 117.127 48.0567 116.74 47.85C116.36 47.6433 116.057 47.3567 115.83 46.99C115.603 46.6167 115.47 46.1833 115.43 45.69L116.51 45.62C116.557 45.96 116.65 46.2467 116.79 46.48C116.93 46.7133 117.113 46.89 117.34 47.01C117.567 47.1233 117.83 47.18 118.13 47.18C118.423 47.18 118.67 47.1433 118.87 47.07C119.07 46.99 119.223 46.8767 119.33 46.73C119.437 46.5833 119.49 46.4067 119.49 46.2C119.49 45.9867 119.44 45.8 119.34 45.64C119.24 45.48 119.06 45.3333 118.8 45.2C118.54 45.0667 118.16 44.93 117.66 44.79C117.173 44.6567 116.777 44.5067 116.47 44.34C116.163 44.1733 115.94 43.9667 115.8 43.72C115.66 43.4733 115.59 43.1667 115.59 42.8C115.59 42.3933 115.683 42.0367 115.87 41.73C116.063 41.4167 116.337 41.1733 116.69 41C117.05 40.8267 117.48 40.74 117.98 40.74C118.473 40.74 118.893 40.8367 119.24 41.03C119.593 41.2233 119.87 41.4933 120.07 41.84C120.277 42.18 120.403 42.58 120.45 43.04L119.37 43.1C119.337 42.8267 119.26 42.5867 119.14 42.38C119.027 42.1733 118.87 42.0133 118.67 41.9C118.47 41.78 118.23 41.72 117.95 41.72C117.557 41.72 117.243 41.8167 117.01 42.01C116.783 42.1967 116.67 42.4433 116.67 42.75C116.67 42.9567 116.717 43.1267 116.81 43.26C116.903 43.3933 117.067 43.5133 117.3 43.62C117.533 43.7267 117.86 43.8367 118.28 43.95C118.847 44.1033 119.297 44.28 119.63 44.48C119.963 44.68 120.203 44.92 120.35 45.2C120.497 45.48 120.57 45.8133 120.57 46.2C120.57 46.5867 120.467 46.93 120.26 47.23C120.053 47.5233 119.763 47.7533 119.39 47.92C119.023 48.08 118.59 48.16 118.09 48.16ZM123.476 48V41.89H121.396V40.9H126.596V41.89H124.516V48H123.476ZM127.232 48L129.312 40.9H130.672L132.752 48H131.662L129.992 41.99L128.322 48H127.232ZM128.392 46.15L128.712 45.18H131.272L131.592 46.15H128.392ZM135.468 48V41.89H133.388V40.9H138.588V41.89H136.508V48H135.468ZM142.074 48.16C141.561 48.16 141.111 48.0567 140.724 47.85C140.344 47.6433 140.041 47.3567 139.814 46.99C139.588 46.6167 139.454 46.1833 139.414 45.69L140.494 45.62C140.541 45.96 140.634 46.2467 140.774 46.48C140.914 46.7133 141.098 46.89 141.324 47.01C141.551 47.1233 141.814 47.18 142.114 47.18C142.408 47.18 142.654 47.1433 142.854 47.07C143.054 46.99 143.208 46.8767 143.314 46.73C143.421 46.5833 143.474 46.4067 143.474 46.2C143.474 45.9867 143.424 45.8 143.324 45.64C143.224 45.48 143.044 45.3333 142.784 45.2C142.524 45.0667 142.144 44.93 141.644 44.79C141.158 44.6567 140.761 44.5067 140.454 44.34C140.148 44.1733 139.924 43.9667 139.784 43.72C139.644 43.4733 139.574 43.1667 139.574 42.8C139.574 42.3933 139.668 42.0367 139.854 41.73C140.048 41.4167 140.321 41.1733 140.674 41C141.034 40.8267 141.464 40.74 141.964 40.74C142.458 40.74 142.878 40.8367 143.224 41.03C143.578 41.2233 143.854 41.4933 144.054 41.84C144.261 42.18 144.388 42.58 144.434 43.04L143.354 43.1C143.321 42.8267 143.244 42.5867 143.124 42.38C143.011 42.1733 142.854 42.0133 142.654 41.9C142.454 41.78 142.214 41.72 141.934 41.72C141.541 41.72 141.228 41.8167 140.994 42.01C140.768 42.1967 140.654 42.4433 140.654 42.75C140.654 42.9567 140.701 43.1267 140.794 43.26C140.888 43.3933 141.051 43.5133 141.284 43.62C141.518 43.7267 141.844 43.8367 142.264 43.95C142.831 44.1033 143.281 44.28 143.614 44.48C143.948 44.68 144.188 44.92 144.334 45.2C144.481 45.48 144.554 45.8133 144.554 46.2C144.554 46.5867 144.451 46.93 144.244 47.23C144.038 47.5233 143.748 47.7533 143.374 47.92C143.008 48.08 142.574 48.16 142.074 48.16Z" fill="white"/>
                            </svg>
                        </div>
                        <div class="z-10 absolute mt-40 ml-4 transition-transform group-hover:-rotate-6">
                            <svg width="196" height="129" viewBox="0 0 196 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="195" height="128" rx="7.5" fill="#141414" stroke="currentColor"/>
                                <path d="M1 48L99 58V70L1 81V48Z" fill="#1C3523"/>
                                <path d="M195 48L97 58V70L195 81V48Z" fill="#1C3523"/>
                                <path d="M0 8C0 3.58172 3.58172 0 8 0H188C192.418 0 196 3.58172 196 8V12H0V8Z" fill="#D9D9D9"/>
                                <rect x="11" y="22" width="7" height="7" rx="3.5" fill="#142619"/>
                                <rect x="122" y="22" width="65" height="7" rx="3.5" fill="#142619"/>
                                <rect x="41" y="42" width="113" height="46" rx="4" fill="#142619"/>
                                <path d="M26 109C26 104.582 29.5817 101 34 101H162C166.418 101 170 104.582 170 109V128H26V109Z" fill="#142619"/>
                                <rect x="57" y="52" width="51" height="5" rx="2.5" fill="#2CDC5B"/>
                                <rect x="57" y="60" width="60" height="5" rx="2.5" fill="#2CDC5B"/>
                                <rect x="57" y="73" width="21" height="5" rx="2" fill="#2CDC5B"/>
                                <rect x="83.25" y="73.25" width="20.5" height="4.5" rx="1.75" stroke="#2CDC5B" stroke-width="0.5"/>
                                <path d="M31 109C31 107.895 31.8954 107 33 107H162C163.105 107 164 107.895 164 109V128H31V109Z" fill="#2CDC5B"/>
                            </svg>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-1/2 min-h-[475px] border-r border-y bg-green-dark/20 border-green/20 rounded-tr-2xl relative group max-2xl:w-full max-2xl:min-h-0 max-2xl:rounded-none max-2xl:border-x">
                <div class="z-10 w-full h-full absolute top-0 left-0  pointer-events-none scale-x-[-1] scale-y-[-1]">
                    <Image src={workBlur} alt="" quality={100} class="w-full h-full object-cover" />
                </div>
                <div class="z-40 w-[15px] h-[15px] absolute -bottom-[8px] -left-[8px] flex items-center justify-center max-2xl:-top-[8px] max-2xl:bottom-auto max-2xl:-right-[8px] max-2xl:left-auto">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="z-40 w-[15px] h-[15px] absolute -bottom-[8px] -right-[8px] flex items-center justify-center max-xl:hidden">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="z-40 w-[15px] h-[15px] absolute -top-[8px] -left-[8px] flex items-center justify-center">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div id="servizi2" class="rounded-3xl bg-main-light w-full h-full py-8 px-10 relative overflow-hidden max-lg:p-6 max-sm:p-4">
                    <h3 id="serviziTitle2" class="text-xl font-semibold uppercase text-green max-lg:text-lg max-sm:text-base">Web design</h3>
                    <p id="serviziParagraph2" class="max-w-[325px] mt-2 text-gray/80 max-2xl:max-w-[450px] max-xl:max-w-[325px] max-sm:text-sm max-sm:mt-1">Realizzo design personalizzati che rispecchiano le tue idee e quelle del tuo pubblico.</p>
                    <div id="serviziCheck2" class="max-w-[325px] flex gap-2 flex-wrap mt-4">
                        <span class="uppercase text-xs font-medium bg-green text-green-dark backdrop-blur-md px-2 rounded-full flex items-center gap-1">
                            <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.96702 0.10196C8.25592 0.29086 8.33702 0.6782 8.14812 0.967099L3.89811 7.46712C3.79795 7.62032 3.63568 7.72182 3.45414 7.74502C3.27259 7.76822 3.09001 7.71062 2.95458 7.58752L0.204582 5.08753C-0.0508284 4.85534 -0.0696482 4.46006 0.162542 4.20465C0.394732 3.94924 0.790012 3.93041 1.04542 4.16261L3.25304 6.16953L7.10192 0.283039C7.29082 -0.00586057 7.67812 -0.0869304 7.96702 0.10196Z" fill="currentColor"/>
                            </svg>
                            Figma File
                        </span>
                        <span class="uppercase text-xs font-medium bg-green text-green-dark backdrop-blur-md px-2 rounded-full flex items-center gap-1">
                            <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.96702 0.10196C8.25592 0.29086 8.33702 0.6782 8.14812 0.967099L3.89811 7.46712C3.79795 7.62032 3.63568 7.72182 3.45414 7.74502C3.27259 7.76822 3.09001 7.71062 2.95458 7.58752L0.204582 5.08753C-0.0508284 4.85534 -0.0696482 4.46006 0.162542 4.20465C0.394732 3.94924 0.790012 3.93041 1.04542 4.16261L3.25304 6.16953L7.10192 0.283039C7.29082 -0.00586057 7.67812 -0.0869304 7.96702 0.10196Z" fill="currentColor"/>
                            </svg>
                            Responsive
                        </span>
                        <span class="uppercase text-xs font-medium bg-green text-green-dark backdrop-blur-md px-2 rounded-full flex items-center gap-1">
                            <svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.96702 0.10196C8.25592 0.29086 8.33702 0.6782 8.14812 0.967099L3.89811 7.46712C3.79795 7.62032 3.63568 7.72182 3.45414 7.74502C3.27259 7.76822 3.09001 7.71062 2.95458 7.58752L0.204582 5.08753C-0.0508284 4.85534 -0.0696482 4.46006 0.162542 4.20465C0.394732 3.94924 0.790012 3.93041 1.04542 4.16261L3.25304 6.16953L7.10192 0.283039C7.29082 -0.00586057 7.67812 -0.0869304 7.96702 0.10196Z" fill="currentColor"/>
                            </svg>
                            Design Review
                        </span>
                    </div>
                    <div id="serviziTag2" class="max-w-[350px] flex flex-col gap-2 absolute left-10 bottom-8 max-2xl:relative max-2xl:left-auto max-2xl:bottom-auto max-2xl:mt-20 max-2xl:pl-2">
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            UI/UX Design
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Restyling
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Copywriting
                            <CornerBorder />
                        </span>
                    </div>
                    <div id="serviziImg2" class="w-[300px] h-full absolute -right-4 top-0 flex items-center max-3xl:-right-[75px] max-2xl:right-[22px] max-xl:right-[10px] max-lg:-right-[35px] max-[700px]:hidden">
                        <div class="w-[500px] h-full absolute -right-[50px] flex items-center justify-center">
                            <svg width="151" height="459" viewBox="0 0 151 459" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M76.5002 458C76.5002 458 150.196 406 150.196 335.5C150.196 265 1.0002 310.5 1.0002 231.5C1.0002 152.5 150.196 169.5 150.196 97.5C150.196 25.5 97.5 5 52.1958 -24" stroke="currentColor" stroke-dasharray="4 4"/>
                            </svg>                          
                        </div>
                        <div class="absolute -mt-44 transition-transform group-hover:-rotate-[7.5deg]">
                            <svg width="210" height="151" viewBox="0 0 210 151" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="15.1653" y="0.935467" width="195" height="128" rx="7.5" transform="rotate(6.34131 15.1653 0.935467)" fill="#141414" stroke="currentColor"/>
                                <path d="M13.8193 8.52039C14.3073 4.12914 18.2627 0.96494 22.6539 1.45294L201.553 21.3341C205.944 21.8221 209.108 25.7775 208.62 30.1688L208.178 34.1443L13.3775 12.4959L13.8193 8.52039Z" fill="#D9D9D9"/>
                                <path d="M49.9585 46.7459L51.3413 34.3025L47.0279 33.8231L47.2134 32.1534L57.5498 33.3021L57.3642 34.9718L53.0508 34.4925L51.6679 46.9359L49.9585 46.7459ZM62.5929 48.15L63.7637 37.6148L65.4334 37.8004L64.2626 48.3355L62.5929 48.15ZM58.3589 47.6795L58.5224 46.2085L68.0637 47.2688L67.9002 48.7398L58.3589 47.6795ZM59.565 38.6373L59.7285 37.1664L65.4334 37.8004L65.2699 39.2713L59.565 38.6373ZM63.788 35.9473L64.0045 33.9993L65.7537 34.1937L65.5372 36.1417L63.788 35.9473ZM76.2013 49.6623C75.1809 49.5489 74.4454 49.2257 73.9949 48.6927C73.5443 48.1596 73.3736 47.4028 73.4825 46.4222L74.6047 36.3243L76.2744 36.5099L75.1523 46.6077C75.0978 47.098 75.1699 47.475 75.3687 47.7386C75.5689 47.9889 75.9009 48.1398 76.3648 48.1913L79.1874 48.505L79.0239 49.976L76.2013 49.6623ZM70.6887 39.8735L70.8522 38.4026L80.1947 39.4408L80.0312 40.9118L70.6887 39.8735ZM86.033 50.7549L87.2877 39.4644C87.3348 39.0403 87.2524 38.6958 87.0403 38.4308C86.8283 38.1657 86.5103 38.0096 86.0862 37.9625L83.6015 37.6864L83.765 36.2154L86.3292 36.5004C87.2966 36.6079 87.9974 36.9407 88.4318 37.4987C88.8809 38.045 89.0517 38.8018 88.9441 39.7692L87.7027 50.9404L86.033 50.7549ZM81.799 50.2844L81.9625 48.8134L91.5038 49.8738L91.3403 51.3447L81.799 50.2844ZM98.6409 52.3975C97.647 52.287 96.8106 51.966 96.1319 51.4345C95.4663 50.9044 94.9805 50.2065 94.6742 49.3407C94.3827 48.4631 94.2988 47.4677 94.4225 46.3546C94.5462 45.2415 94.8459 44.2954 95.3215 43.5165C95.8103 42.7391 96.431 42.1641 97.1834 41.7916C97.9505 41.4073 98.8178 41.2689 99.7851 41.3764C100.7 41.4781 101.484 41.7866 102.137 42.3019C102.793 42.804 103.273 43.488 103.58 44.3538C103.886 45.2195 103.973 46.2421 103.842 47.4216L103.787 47.9185L96.1143 47.0658C96.0554 48.1996 96.2593 49.0808 96.726 49.7096C97.206 50.3398 97.9032 50.7057 98.8176 50.8073C99.5067 50.8839 100.088 50.7874 100.56 50.518C101.048 50.2368 101.407 49.8407 101.638 49.3298L103.412 49.6677C103.029 50.5777 102.412 51.294 101.563 51.8167C100.728 52.3276 99.754 52.5212 98.6409 52.3975ZM96.2778 45.5949L102.122 46.2443C102.156 45.2151 101.941 44.4332 101.477 43.8987C101.013 43.3642 100.39 43.0535 99.6084 42.9667C98.8001 42.8768 98.1029 43.0542 97.5168 43.4989C96.9455 43.9318 96.5325 44.6304 96.2778 45.5949Z" fill="white"/>
                                <path d="M25.3778 44.0142L26.0749 37.7408L23.8566 37.4943L23.9547 36.6117L25.0996 36.739C25.4017 36.7725 25.6491 36.7558 25.8417 36.6886C26.0423 36.6224 26.1929 36.4982 26.2936 36.3162C26.4023 36.1351 26.4743 35.8856 26.5096 35.5675L27.3445 35.6603L26.4034 44.1282L25.3778 44.0142ZM22.7062 43.7173L22.8175 42.7155L28.5423 43.3517L28.431 44.3535L22.7062 43.7173ZM31.9804 44.748L32.1421 43.2929L33.621 43.4573L33.4593 44.9123L31.9804 44.748Z" fill="white"/>
                                <path d="M127.994 55.4177L128.198 53.581L124.048 53.1197L124.151 52.1895L128.864 46.9418L129.961 47.0638L129.335 52.6931L130.361 52.8071L130.25 53.8089L129.224 53.695L129.02 55.5316L127.994 55.4177ZM125.209 52.2345L128.31 52.5791L128.776 48.381L125.209 52.2345ZM133.356 56.0136L133.518 54.5585L134.997 54.7229L134.835 56.1779L133.356 56.0136Z" fill="white"/>
                                <path d="M123.254 88.2875C122.706 88.2266 122.236 88.0737 121.844 87.829C121.461 87.5852 121.166 87.2706 120.959 86.8855C120.761 86.5011 120.667 86.0722 120.68 85.5987L121.761 85.6464C121.772 86.1306 121.918 86.5131 122.201 86.794C122.493 87.0679 122.881 87.2318 123.366 87.2857C123.914 87.3467 124.37 87.2283 124.733 86.9306C125.105 86.6258 125.324 86.1752 125.391 85.5789C125.435 85.1814 125.401 84.8315 125.29 84.5294C125.18 84.2193 124.998 83.9737 124.744 83.7926C124.499 83.6044 124.19 83.4895 123.816 83.448C123.483 83.4109 123.151 83.4586 122.823 83.5911C122.503 83.7165 122.258 83.9228 122.09 84.2099L120.992 84.088L122.082 79.3916L126.59 79.8926L126.479 80.8944L122.913 80.4981L122.184 83.5805L122.014 83.3685C122.169 83.1361 122.358 82.9519 122.583 82.8159C122.807 82.6798 123.047 82.5857 123.302 82.5336C123.566 82.4744 123.822 82.4585 124.068 82.4859C124.609 82.546 125.068 82.7258 125.445 83.0253C125.831 83.3177 126.111 83.695 126.285 84.157C126.467 84.6199 126.527 85.1337 126.464 85.6982C126.401 86.2627 126.222 86.7539 125.926 87.1718C125.631 87.5817 125.251 87.8856 124.786 88.0835C124.33 88.2823 123.819 88.3503 123.254 88.2875ZM129.711 88.8119L129.873 87.3569L131.352 87.5212L131.19 88.9763L129.711 88.8119Z" fill="white"/>
                                <path d="M119.657 121.091C119.021 121.02 118.493 120.816 118.071 120.48C117.659 120.136 117.364 119.669 117.189 119.078C117.021 118.488 116.981 117.791 117.071 116.988C117.148 116.288 117.277 115.638 117.456 115.039C117.644 114.44 117.89 113.924 118.196 113.491C118.51 113.051 118.893 112.723 119.344 112.508C119.803 112.285 120.347 112.208 120.975 112.278C121.476 112.334 121.892 112.465 122.223 112.671C122.554 112.876 122.811 113.142 122.992 113.468C123.181 113.795 123.309 114.164 123.376 114.574L122.292 114.55C122.234 114.205 122.096 113.92 121.88 113.695C121.671 113.471 121.333 113.332 120.863 113.28C120.394 113.228 119.978 113.319 119.614 113.552C119.251 113.777 118.944 114.145 118.694 114.657C118.452 115.169 118.278 115.826 118.173 116.627L117.964 116.556C118.083 116.279 118.263 116.034 118.505 115.819C118.755 115.597 119.047 115.433 119.381 115.325C119.723 115.21 120.097 115.175 120.503 115.22C121.06 115.282 121.531 115.455 121.918 115.74C122.305 116.024 122.59 116.398 122.772 116.861C122.955 117.316 123.014 117.833 122.949 118.414C122.88 119.034 122.693 119.557 122.389 119.982C122.093 120.399 121.708 120.707 121.236 120.904C120.772 121.094 120.246 121.156 119.657 121.091ZM119.793 120.092C120.349 120.153 120.818 120.028 121.199 119.717C121.58 119.397 121.806 118.923 121.876 118.295C121.941 117.706 121.83 117.223 121.542 116.845C121.262 116.468 120.855 116.249 120.323 116.19C119.941 116.148 119.59 116.189 119.271 116.315C118.952 116.432 118.689 116.624 118.482 116.891C118.275 117.158 118.15 117.486 118.107 117.876C118.064 118.265 118.101 118.62 118.218 118.939C118.344 119.258 118.54 119.522 118.807 119.728C119.074 119.927 119.403 120.048 119.793 120.092ZM126.067 121.61L126.228 120.155L127.707 120.319L127.545 121.774L126.067 121.61Z" fill="white"/>
                                <path d="M18.9422 76.5019C19.0084 75.9056 19.1595 75.379 19.3954 74.9223C19.6401 74.4585 20.0213 74.034 20.5391 73.6488C21.0647 73.2645 21.7737 72.8966 22.666 72.545C23.0786 72.3816 23.4138 72.2256 23.6718 72.0772C23.9298 71.9288 24.1255 71.7614 24.2589 71.575C24.3923 71.3886 24.4749 71.1523 24.5067 70.866C24.5394 70.5718 24.5041 70.3103 24.4007 70.0815C24.2982 69.8447 24.1268 69.6486 23.8865 69.4931C23.6542 69.3385 23.3512 69.2404 22.9775 69.1989C22.3811 69.1326 21.8908 69.2351 21.5065 69.5063C21.1302 69.7784 20.8664 70.1959 20.7154 70.7586L19.6499 70.5678C19.8372 69.7515 20.2286 69.1269 20.8241 68.694C21.4195 68.2611 22.1744 68.0955 23.0888 68.1971C23.6692 68.2616 24.1547 68.4202 24.5452 68.6729C24.9356 68.9255 25.2175 69.2506 25.3906 69.6482C25.5726 70.0387 25.6366 70.4764 25.5827 70.9615C25.535 71.3908 25.4219 71.7566 25.2435 72.0587C25.0659 72.3529 24.7911 72.6161 24.4192 72.8485C24.0552 73.0817 23.5618 73.3207 22.939 73.5654C22.4 73.7792 21.9402 74.0058 21.5594 74.2452C21.1866 74.4855 20.8942 74.7266 20.6821 74.9687C20.479 75.2037 20.3575 75.4276 20.3177 75.6406L25.0168 76.1628L24.9054 77.1646L18.9422 76.5019ZM28.3356 77.5458L28.4973 76.0908L29.9762 76.2551L29.8145 77.7102L28.3356 77.5458Z" fill="white"/>
                                <path d="M18.186 109.814C17.2716 109.713 16.5923 109.416 16.1479 108.924C15.7044 108.424 15.5017 107.822 15.5397 107.118L16.6091 107.164C16.5994 107.686 16.7491 108.077 17.0583 108.337C17.3755 108.597 17.7885 108.756 18.2974 108.813C18.6392 108.851 18.9666 108.839 19.2793 108.777C19.5929 108.707 19.8536 108.571 20.0612 108.369C20.2776 108.159 20.4071 107.864 20.4495 107.482C20.491 107.108 20.4415 106.793 20.3011 106.536C20.1615 106.271 19.9508 106.066 19.669 105.922C19.396 105.771 19.0766 105.676 18.7109 105.635L18.043 105.561L18.1543 104.559L18.8222 104.633C19.1164 104.666 19.3916 104.652 19.6478 104.592C19.904 104.532 20.1143 104.414 20.2786 104.239C20.4517 104.057 20.556 103.807 20.5913 103.489C20.6399 103.052 20.5375 102.707 20.2839 102.453C20.0313 102.192 19.6425 102.032 19.1178 101.973C18.5851 101.914 18.1676 101.976 17.8655 102.16C17.5713 102.345 17.3756 102.621 17.2784 102.988L16.213 102.798C16.3632 102.17 16.6984 101.688 17.2188 101.352C17.74 101.007 18.4101 100.881 19.2291 100.972C19.7777 101.033 20.2442 101.181 20.6285 101.417C21.0137 101.645 21.2946 101.942 21.4713 102.307C21.6559 102.674 21.7222 103.092 21.67 103.561C21.6117 104.086 21.3975 104.493 21.0273 104.781C20.666 105.063 20.1566 105.228 19.4994 105.276L19.5232 105.061C20.2061 105.217 20.7274 105.525 21.0869 105.983C21.4465 106.442 21.5918 106.981 21.5229 107.601C21.4628 108.142 21.2803 108.589 20.9755 108.941C20.6707 109.294 20.2767 109.544 19.7935 109.691C19.3102 109.839 18.7744 109.88 18.186 109.814ZM24.6906 110.344L24.8523 108.889L26.3312 109.053L26.1695 110.508L24.6906 110.344Z" fill="white"/>
                                <path d="M148.982 57.8105L149.212 57.3732L149.534 57.3688C150.207 57.3497 150.799 57.2746 151.31 57.1435C151.821 57.0125 152.201 56.6724 152.45 56.1232L157.563 44.8791L155.014 44.6361C154.456 44.5875 153.985 44.6022 153.601 44.6803C153.218 44.7451 152.873 44.8879 152.567 45.1087C152.262 45.3163 151.955 45.6108 151.644 45.9922C151.333 46.3735 150.978 46.8506 150.579 47.4233L150.065 47.346L151.916 43.7283L158.409 44.5103L164.498 45.1266L164.279 46.7323L164.089 49.1662L163.593 49.111C163.637 48.472 163.595 47.8837 163.467 47.3463C163.353 46.7971 163.141 46.3509 162.831 46.0078C162.535 45.653 162.122 45.4395 161.594 45.3673L159.175 45.0382L154.146 56.0702C154.093 56.185 154.055 56.2881 154.031 56.3794C154.008 56.4707 153.991 56.5627 153.98 56.6555C153.938 57.0398 154.058 57.3416 154.343 57.561C154.642 57.7686 155.054 57.9218 155.579 58.0204L156.288 58.1596L156.079 58.5991L152.467 58.1374L152.249 58.1131L148.982 57.8105ZM163.712 59.6688C163.301 59.6231 163.021 59.4914 162.871 59.2734C162.734 59.057 162.684 58.7831 162.72 58.4518C162.744 58.2398 162.796 58.0175 162.875 57.7848C162.956 57.5389 163.057 57.2952 163.178 57.0538L165.424 52.5946C165.562 52.3148 165.641 52.0888 165.66 51.9165C165.687 51.678 165.632 51.5043 165.497 51.3953C165.361 51.2863 165.175 51.212 164.938 51.1722C164.714 51.1339 164.476 51.1008 164.225 51.0728L164.417 50.6112L167.644 50.9094L164.348 57.7473C164.273 57.9402 164.207 58.1139 164.149 58.2685C164.094 58.4099 164.06 58.5336 164.048 58.6396C164.018 58.9046 164.11 59.0489 164.322 59.0725C164.613 59.1049 164.915 58.9841 165.227 58.7103C165.539 58.4364 165.798 58.1633 166.003 57.8909L166.334 58.1692C166.036 58.552 165.668 58.9135 165.227 59.2536C164.787 59.5937 164.282 59.7321 163.712 59.6688ZM167.748 48.7074C167.429 48.6721 167.176 48.5366 166.988 48.301C166.813 48.0669 166.741 47.8041 166.774 47.5125C166.804 47.2343 166.931 47.0002 167.153 46.8102C167.389 46.6217 167.666 46.5452 167.984 46.5805C168.262 46.6115 168.489 46.744 168.664 46.9781C168.853 47.2137 168.931 47.4706 168.9 47.7489C168.868 48.0405 168.734 48.2805 168.498 48.4689C168.276 48.6589 168.026 48.7384 167.748 48.7074ZM169.304 60.2902C168.919 60.2475 168.652 60.1172 168.502 59.8992C168.353 59.6681 168.297 59.3868 168.334 59.0555C168.355 58.87 168.404 58.6676 168.482 58.4482C168.562 58.2155 168.662 57.9785 168.782 57.737L171.645 51.8974L170.353 51.7538L170.565 51.2945L171.877 51.4403L172.683 49.7993L174.015 49.9473L173.229 51.5905L175.057 51.7937L174.845 52.2531L172.997 52.0476L169.933 58.4283C169.792 58.7346 169.712 58.9672 169.695 59.1262C169.655 59.484 169.794 59.6806 170.112 59.716C170.417 59.7498 170.724 59.6431 171.033 59.3957C171.344 59.1351 171.601 58.8686 171.806 58.5962L172.137 58.8745C171.84 59.2573 171.452 59.61 170.973 59.9324C170.51 60.2431 169.953 60.3623 169.304 60.2902ZM175.18 60.9432C174.769 60.8976 174.489 60.7658 174.338 60.5478C174.201 60.3314 174.151 60.0575 174.188 59.7262C174.212 59.5142 174.263 59.2919 174.343 59.0592C174.424 58.8133 174.525 58.5697 174.645 58.3282L179.014 48.7119C179.083 48.572 179.131 48.4432 179.158 48.3254C179.199 48.1958 179.225 48.0846 179.235 47.9919C179.263 47.7401 179.209 47.5663 179.072 47.4706C178.949 47.3631 178.776 47.2903 178.553 47.252C178.342 47.2152 178.111 47.1828 177.859 47.1548L178.051 46.6932L181.278 46.9914L175.816 59.0217C175.741 59.2146 175.675 59.3883 175.617 59.5429C175.561 59.6843 175.527 59.808 175.516 59.914C175.486 60.179 175.577 60.3233 175.789 60.3469C176.081 60.3793 176.383 60.2586 176.695 59.9847C177.007 59.7108 177.266 59.4377 177.47 59.1653L177.801 59.4436C177.504 59.8264 177.135 60.1879 176.695 60.528C176.255 60.8681 175.75 61.0065 175.18 60.9432ZM182.388 61.7443C181.686 61.6663 181.127 61.4498 180.71 61.0949C180.308 60.7283 180.029 60.2814 179.873 59.7543C179.731 59.2154 179.693 58.6544 179.758 58.0713C179.849 57.2497 180.093 56.5054 180.489 55.8384C180.887 55.1581 181.381 54.5758 181.971 54.0914C182.563 53.5937 183.187 53.2271 183.844 52.9915C184.514 52.7574 185.167 52.6757 185.803 52.7464C186.426 52.8156 186.899 53.0291 187.221 53.3869C187.558 53.733 187.698 54.1644 187.641 54.6812C187.541 55.4616 187.101 56.0366 186.322 56.4061C185.558 56.7639 184.559 56.9413 183.325 56.9383L181.638 56.9118C181.411 57.5037 181.266 58.078 181.205 58.6345C181.162 59.0188 181.173 59.4024 181.238 59.7852C181.316 60.1695 181.473 60.5023 181.71 60.7835C181.949 61.0515 182.28 61.2091 182.704 61.2562C183.221 61.3136 183.71 61.2003 184.171 60.9161C184.646 60.6202 185.03 60.3073 185.322 59.9775L185.628 60.2933C185.277 60.6835 184.834 61.0435 184.301 61.3733C183.768 61.7031 183.131 61.8268 182.388 61.7443ZM185.739 53.1418C185.302 53.0932 184.839 53.2161 184.35 53.5106C183.861 53.805 183.393 54.2158 182.945 54.743C182.497 55.2701 182.123 55.859 181.823 56.5098L182.954 56.4745C183.668 56.4466 184.249 56.3501 184.697 56.1852C185.157 56.0218 185.515 55.8201 185.77 55.5801C186.025 55.3401 186.205 55.1052 186.311 54.8755C186.419 54.6326 186.482 54.425 186.501 54.2527C186.535 53.9479 186.496 53.6954 186.384 53.4951C186.272 53.2949 186.057 53.1771 185.739 53.1418Z" fill="white"/>
                                <path d="M54.2742 66.141L54.0842 67.8505L49.7112 67.3645L48.3327 79.7682L46.5835 79.5738L47.9619 67.1701L43.5889 66.6841L43.7788 64.9747L54.2742 66.141ZM55.9662 69.9512L57.6757 70.1412L56.5049 80.6763L54.7955 80.4864L55.9662 69.9512ZM56.1098 68.297L56.3241 66.3688L58.1131 66.5676L57.8988 68.4958L56.1098 68.297ZM61.3608 68.136L63.0703 68.3259L62.8052 70.7112L65.6278 71.0249L65.46 72.5356L62.6373 72.2219L61.9481 78.4238C61.8509 79.2984 62.2198 79.7821 63.0546 79.8749L64.5852 80.045L64.4173 81.5557L62.8867 81.3856C60.9785 81.1735 60.0376 80.0427 60.2387 78.2338L60.9279 72.032L59.3973 71.8619L59.5652 70.3512L61.0957 70.5213L61.3608 68.136ZM68.3603 67.7064L70.0698 67.8964L68.74 79.8627C68.6914 80.3 68.8681 80.5209 69.3054 80.5695L70.2197 80.6711L70.0518 82.1818L68.8592 82.0493C67.6268 81.9123 66.8847 80.9847 67.0217 79.7523L68.3603 67.7064ZM72.176 77.0853C72.5494 73.7259 74.6962 71.7912 77.6182 72.1159C79.924 72.3722 81.8455 74.095 81.6047 77.8916L81.5384 78.669L73.9253 77.823C73.8501 79.9477 74.7866 81.2994 76.5756 81.4982C77.6887 81.6219 78.7731 81.0985 79.3717 80.0582L81.185 80.4006C80.3479 82.3199 78.4219 83.3535 76.3944 83.1282C73.4724 82.8034 71.8027 80.4446 72.176 77.0853ZM74.1329 76.3167L79.8378 76.9507C79.7826 74.731 78.6894 73.8851 77.4371 73.7459C75.7872 73.5626 74.6144 74.5189 74.1329 76.3167Z" fill="white"/>
                                <path d="M151.623 90.3616C151.53 90.3513 151.385 90.3285 151.188 90.2931C150.991 90.2578 150.78 90.221 150.556 90.1827C150.332 90.1444 150.122 90.1076 149.925 90.0722C149.727 90.0369 149.582 90.0141 149.489 90.0038L147.561 89.7895C147.469 89.7792 147.322 89.7696 147.122 89.7608C146.922 89.7519 146.708 89.7416 146.481 89.7298C146.268 89.7195 146.061 89.7099 145.861 89.7011C145.66 89.6923 145.514 89.6827 145.421 89.6724L145.39 89.5884L145.534 88.8397L145.642 88.7713C145.841 88.7934 146.073 88.8125 146.34 88.8287C146.62 88.8464 146.825 88.8088 146.956 88.7161C147.073 88.6351 147.192 88.5276 147.314 88.3936C147.436 88.2596 147.538 88.0093 147.619 87.6427C147.642 87.5514 147.661 87.4461 147.674 87.3269C147.702 87.1958 147.726 87.0375 147.747 86.852C147.781 86.6679 147.812 86.4434 147.842 86.1784C147.871 85.9133 147.908 85.582 147.952 85.1845L148.357 81.5469C148.438 80.818 148.503 80.168 148.553 79.5967C148.603 79.0254 148.637 78.5998 148.655 78.3201L148.436 78.2958C147.933 78.2398 147.514 78.2001 147.182 78.1765C146.85 78.1397 146.584 78.1235 146.382 78.1279C146.182 78.119 146.027 78.122 145.918 78.1367C145.823 78.1529 145.753 78.1787 145.709 78.214C145.555 78.2641 145.424 78.3568 145.315 78.4923C145.206 78.6277 145.128 78.7934 145.079 78.9892L144.991 79.0599L144.136 78.9649L144.571 76.3168L144.671 76.1467L144.796 76.1003C144.898 76.1519 145.125 76.2174 145.479 76.2969C145.834 76.3632 146.222 76.4265 146.645 76.4869C147.068 76.5473 147.47 76.6054 147.853 76.6614C148.251 76.7056 148.536 76.7372 148.708 76.7564L151.212 77.0347C151.385 77.0539 151.663 77.0848 152.047 77.1275C152.446 77.1584 152.859 77.1908 153.284 77.2247C153.71 77.2586 154.103 77.2821 154.464 77.2954C154.826 77.2954 155.062 77.2814 155.173 77.2534L155.285 77.3263L155.345 77.5141L155.208 80.1953L154.333 80.0981L154.263 80.0098C154.258 79.8081 154.218 79.6292 154.141 79.4731C154.064 79.317 153.957 79.1977 153.819 79.1153C153.785 79.0579 153.716 79.01 153.613 78.9717C153.525 78.9217 153.382 78.879 153.185 78.8436C152.987 78.8083 152.723 78.7722 152.392 78.7354C152.074 78.7 151.663 78.6544 151.159 78.5984L150.941 78.5741C150.892 78.8907 150.832 79.3133 150.76 79.8419C150.701 80.3719 150.629 81.0146 150.545 81.77L150.183 85.0299C150.13 85.507 150.087 85.8979 150.053 86.2027C150.02 86.4942 149.993 86.7394 149.971 86.9382C149.962 87.1384 149.95 87.3114 149.933 87.4572C149.932 87.5912 149.929 87.7384 149.925 87.8989C149.908 88.2862 149.952 88.5593 150.055 88.7183C150.158 88.8774 150.258 89.0025 150.355 89.0938C150.402 89.1527 150.471 89.2006 150.561 89.2374C150.664 89.2757 150.774 89.3081 150.892 89.3346C151.01 89.3611 151.128 89.3809 151.248 89.3942C151.38 89.4089 151.499 89.4222 151.605 89.434L151.696 89.5245L151.672 90.2865L151.623 90.3616ZM159.821 91.2324C159.729 91.2221 159.59 91.2 159.406 91.1662C159.222 91.1323 159.025 91.097 158.814 91.0601C158.602 91.0366 158.404 91.0079 158.22 90.974C158.035 90.9534 157.895 90.9379 157.803 90.9276L156.729 90.8083C156.637 90.798 156.491 90.7818 156.292 90.7597C156.105 90.7524 155.905 90.7369 155.693 90.7133C155.493 90.7045 155.293 90.6956 155.093 90.6868C154.906 90.6794 154.766 90.6706 154.673 90.6603L154.662 90.5786L154.777 89.9072L154.845 89.8343C155.044 89.8564 155.25 89.8726 155.464 89.8829C155.679 89.8799 155.845 89.8313 155.963 89.7371C156.066 89.6547 156.145 89.5428 156.201 89.4014C156.257 89.2601 156.313 89.0583 156.369 88.7962C156.393 88.705 156.41 88.6129 156.42 88.5202C156.444 88.4289 156.461 88.3302 156.473 88.2242C156.498 88.1197 156.519 87.9945 156.535 87.8487C156.551 87.703 156.571 87.5241 156.595 87.3121L156.844 85.0659C156.872 84.8141 156.894 84.6153 156.911 84.4696C156.928 84.3105 156.936 84.1773 156.935 84.0698C156.947 83.9638 156.95 83.8703 156.946 83.7893C156.956 83.6965 156.961 83.5898 156.961 83.469C156.95 83.3336 156.924 83.2033 156.884 83.0781C156.844 82.953 156.807 82.8683 156.771 82.8241C156.658 82.6371 156.503 82.5193 156.308 82.4707C156.112 82.4221 155.908 82.3861 155.696 82.3625L155.625 82.2741L155.7 81.5983L155.786 81.5475L156.8 81.6602C157.105 81.694 157.43 81.7301 157.774 81.7684C158.12 81.7935 158.428 81.8008 158.697 81.7905L159.404 81.7684L159.481 82.1594C159.449 82.2094 159.413 82.2926 159.373 82.4089C159.348 82.5135 159.322 82.6313 159.294 82.7623C159.28 82.8816 159.26 83.0067 159.232 83.1378C159.219 83.2571 159.208 83.3564 159.199 83.436C159.187 83.542 159.169 83.6406 159.146 83.7319C159.137 83.8114 159.126 83.9108 159.113 84.0301C159.101 84.1361 159.079 84.2745 159.046 84.4453C159.027 84.6176 159.004 84.8296 158.976 85.0814L158.728 87.3077C158.699 87.5727 158.674 87.7914 158.655 87.9636C158.651 88.1241 158.642 88.264 158.629 88.3833C158.629 88.504 158.623 88.6174 158.611 88.7234C158.614 88.8176 158.615 88.9251 158.615 89.0459C158.611 89.3271 158.614 89.5421 158.624 89.6908C158.649 89.8277 158.71 89.9485 158.805 90.053C158.9 90.1708 159.038 90.2533 159.221 90.3004C159.418 90.3357 159.616 90.3644 159.815 90.3865L159.903 90.497L159.87 91.1573L159.821 91.2324ZM157.149 78.5195C157.167 78.3605 157.218 78.2051 157.302 78.0535C157.385 77.9018 157.494 77.773 157.626 77.667C157.76 77.5477 157.904 77.4631 158.057 77.413C158.225 77.3512 158.395 77.3298 158.567 77.349C158.898 77.3858 159.181 77.5581 159.415 77.8658C159.664 78.1618 159.77 78.4754 159.733 78.8067C159.714 78.9789 159.656 79.1402 159.559 79.2904C159.476 79.4288 159.362 79.5502 159.216 79.6548C159.084 79.7608 158.934 79.8381 158.768 79.8867C158.602 79.9353 158.439 79.9507 158.28 79.9331C157.935 79.8948 157.651 79.7357 157.427 79.456C157.204 79.1762 157.111 78.8641 157.149 78.5195ZM167.187 83.9213L165.001 83.6783C164.915 84.4469 164.829 85.1617 164.742 85.8229C164.67 86.4722 164.607 87.042 164.552 87.5323C164.499 88.0094 164.449 88.3996 164.402 88.7029C164.368 89.0077 164.348 89.1932 164.34 89.2595C164.283 89.7763 164.344 90.1319 164.523 90.3262C164.703 90.5206 164.925 90.6325 165.19 90.662C165.389 90.6841 165.617 90.6892 165.873 90.6774C166.129 90.6657 166.347 90.6362 166.527 90.5891L166.622 90.821L166.35 91.4549C165.97 91.6139 165.582 91.7251 165.186 91.7884C164.802 91.8664 164.451 91.8877 164.133 91.8524C163.324 91.7626 162.768 91.513 162.465 91.1036C162.162 90.6943 162.042 90.1981 162.107 89.615C162.121 89.4958 162.153 89.2646 162.204 88.9215C162.257 88.5652 162.32 88.1227 162.392 87.5941C162.466 87.0523 162.548 86.4309 162.64 85.73C162.731 85.0292 162.822 84.2679 162.914 83.4463L161.88 83.3315L161.811 83.2232L161.909 82.3486L161.997 82.2779L163.062 82.1145C163.109 81.6905 163.143 81.2583 163.165 80.8181C163.202 80.366 163.231 79.9265 163.252 79.4995L163.404 79.3957L163.684 79.4068C163.777 79.4171 163.904 79.4244 164.064 79.4289C164.238 79.4347 164.418 79.4414 164.605 79.4487C164.794 79.4429 164.969 79.4355 165.131 79.4267C165.306 79.4193 165.435 79.4068 165.518 79.3891L165.688 79.4885C165.585 79.8124 165.482 80.2505 165.381 80.8026C165.28 81.3416 165.203 81.8562 165.149 82.3465L167.348 82.4702L167.439 82.5608L167.298 83.8329L167.187 83.9213ZM172.396 92.6298C172.303 92.6195 172.164 92.5974 171.98 92.5635C171.796 92.5297 171.599 92.4943 171.388 92.4575C171.176 92.434 170.978 92.4052 170.794 92.3714C170.609 92.3508 170.47 92.3353 170.377 92.325L169.303 92.2057C169.211 92.1954 169.065 92.1792 168.866 92.1571C168.679 92.1497 168.48 92.1343 168.268 92.1107C168.067 92.1019 167.867 92.093 167.667 92.0842C167.48 92.0768 167.34 92.068 167.247 92.0577L167.236 91.976L167.351 91.3045L167.419 91.2317C167.618 91.2537 167.824 91.2699 168.038 91.2803C168.253 91.2773 168.419 91.2287 168.537 91.1345C168.64 91.052 168.72 90.9401 168.776 90.7988C168.832 90.6574 168.888 90.4557 168.943 90.1936C168.967 90.1023 168.984 90.0103 168.994 89.9175C169.018 89.8263 169.036 89.7276 169.047 89.6216C169.072 89.517 169.093 89.3919 169.109 89.2461C169.125 89.1004 169.145 88.9215 169.169 88.7094L170.028 80.977C170.056 80.7252 170.078 80.5265 170.094 80.3807C170.112 80.2217 170.12 80.0884 170.119 79.9809C170.13 79.8749 170.134 79.7814 170.13 79.7004C170.14 79.6077 170.145 79.5009 170.145 79.3802C170.133 79.2447 170.108 79.1144 170.068 78.9893C170.028 78.8641 169.991 78.7794 169.955 78.7353C169.842 78.5483 169.687 78.4305 169.491 78.3819C169.296 78.3333 169.092 78.2972 168.88 78.2736L168.809 78.1853L168.884 77.5095L168.97 77.4587L169.984 77.5713C170.289 77.6052 170.613 77.6413 170.958 77.6796C171.304 77.7046 171.612 77.712 171.881 77.7017L172.588 77.6796L172.665 78.0705C172.633 78.1206 172.597 78.2038 172.557 78.3201C172.532 78.4246 172.505 78.5424 172.478 78.6735C172.464 78.7927 172.444 78.9179 172.416 79.0489C172.402 79.1682 172.391 79.2676 172.383 79.3471C172.371 79.4531 172.353 79.5518 172.33 79.6431C172.321 79.7226 172.31 79.822 172.296 79.9412C172.285 80.0472 172.263 80.1856 172.23 80.3564C172.211 80.5287 172.187 80.7407 172.159 80.9925L171.302 88.7051C171.273 88.9701 171.249 89.1887 171.229 89.361C171.225 89.5215 171.216 89.6614 171.203 89.7807C171.203 89.9014 171.197 90.0148 171.185 90.1208C171.188 90.215 171.19 90.3225 171.19 90.4432C171.185 90.7245 171.188 90.9394 171.198 91.0882C171.223 91.2251 171.284 91.3458 171.38 91.4504C171.474 91.5682 171.612 91.6506 171.795 91.6978C171.992 91.7331 172.19 91.7618 172.389 91.7839L172.477 91.8943L172.444 92.5547L172.396 92.6298ZM182.685 88.5614L182.168 88.8662C181.452 88.7866 180.743 88.7145 180.039 88.6497C179.348 88.5864 178.639 88.5142 177.91 88.4332L176.28 88.2521C176.256 88.3433 176.239 88.4354 176.229 88.5281C176.22 88.6076 176.211 88.6872 176.203 88.7667C176.164 89.1112 176.186 89.4624 176.267 89.8202C176.348 90.178 176.498 90.51 176.719 90.8163C176.955 91.1108 177.262 91.3662 177.64 91.5827C178.02 91.7859 178.495 91.9192 179.065 91.9825C179.476 92.0281 179.912 92.023 180.375 91.9671C180.852 91.8993 181.299 91.7948 181.717 91.6535L182.04 91.8301L181.96 92.5457L181.737 92.7423C181.391 92.9587 180.894 93.145 180.246 93.3011C179.612 93.4586 178.937 93.4976 178.221 93.4181C177.519 93.34 176.889 93.156 176.331 92.8659C175.787 92.564 175.327 92.1775 174.95 91.7063C174.586 91.2366 174.318 90.697 174.144 90.0874C173.984 89.4793 173.943 88.8174 174.023 88.1018C174.104 87.373 174.297 86.7236 174.601 86.1538C174.906 85.584 175.287 85.1099 175.745 84.7315C176.217 84.3546 176.744 84.0778 177.327 83.9011C177.923 83.7259 178.546 83.6743 179.195 83.7465C179.54 83.7848 179.919 83.8739 180.333 84.0138C180.76 84.1551 181.157 84.3804 181.525 84.6896C181.895 84.9856 182.212 85.3898 182.477 85.9022C182.744 86.4013 182.894 87.0419 182.928 87.8237L182.685 88.5614ZM179.05 85.2395C178.4 85.1674 177.855 85.308 177.413 85.6614C176.986 86.0029 176.691 86.4263 176.527 86.9313L177.521 87.0417C177.985 87.0933 178.443 87.1375 178.895 87.1743C179.348 87.1979 179.807 87.2354 180.271 87.287C180.443 87.3061 180.574 87.2737 180.664 87.1898C180.755 87.0926 180.807 86.991 180.819 86.885C180.863 86.4874 180.708 86.1282 180.355 85.8072C180.001 85.4862 179.566 85.297 179.05 85.2395Z" fill="white"/>
                                <path d="M51.1504 99.8525L46.3201 99.3157L44.956 111.59L42.8689 111.358L44.233 99.0837L39.4027 98.547L39.6181 96.6089L51.3658 97.9144L51.1504 99.8525ZM54.5236 100.278L52.4116 100.043L52.6877 97.5583L54.7997 97.793L54.5236 100.278ZM53.1153 112.497L51.1027 112.273L52.3205 101.316L54.3331 101.539L53.1153 112.497ZM61.6504 113.36C60.7842 113.519 60.0149 113.56 59.3423 113.486C58.7957 113.425 58.3214 113.287 57.9194 113.071C57.5204 112.859 57.1967 112.573 56.9482 112.213C56.7001 111.851 56.5286 111.417 56.4336 110.914C56.3424 110.407 56.3324 109.833 56.4038 109.19L57.0307 103.55L55.5398 103.384L55.7276 101.694L57.2184 101.86L57.499 99.3355L59.5116 99.5592L59.231 102.084L62.8587 102.487L62.6709 104.176L59.0433 103.773L58.4159 109.419C58.3353 110.144 58.4115 110.696 58.6445 111.074C58.8812 111.449 59.2927 111.669 59.8791 111.734C60.1077 111.76 60.3823 111.763 60.7029 111.745C61.0268 111.728 61.4071 111.686 61.8437 111.621L61.6504 113.36ZM65.073 113.826L63.0604 113.602L64.695 98.8926L66.7077 99.1163L65.073 113.826ZM77.2421 111.501C77.0315 112.098 76.7484 112.623 76.3928 113.076C76.0372 113.53 75.6236 113.902 75.1521 114.191C74.6839 114.481 74.1648 114.685 73.595 114.803C73.0252 114.921 72.4189 114.944 71.7762 114.873C71.2395 114.813 70.7396 114.694 70.2765 114.515C69.8168 114.336 69.3995 114.107 69.0248 113.827C68.6538 113.545 68.328 113.217 68.0475 112.843C67.7707 112.467 67.5451 112.053 67.3706 111.601C67.1998 111.146 67.0848 110.657 67.0255 110.134C66.9666 109.607 66.9692 109.056 67.0333 108.48C67.0973 107.903 67.2155 107.368 67.3878 106.874C67.5601 106.38 67.7776 105.931 68.0405 105.528C68.3066 105.125 68.6142 104.771 68.9631 104.468C69.3121 104.165 69.6968 103.917 70.1172 103.726C70.5375 103.535 70.9898 103.404 71.4738 103.334C71.9583 103.26 72.4655 103.253 72.9956 103.311C73.7807 103.399 74.4746 103.613 75.0772 103.955C75.6801 104.294 76.1776 104.737 76.5697 105.283C76.9617 105.83 77.2394 106.47 77.4028 107.202C77.5662 107.935 77.5994 108.738 77.5022 109.613C77.4882 109.739 77.4711 109.863 77.4508 109.984C77.4339 110.107 77.4105 110.242 77.3807 110.389L69.0023 109.458C69.0063 109.965 69.0755 110.429 69.2098 110.849C69.3479 111.267 69.5455 111.631 69.8028 111.942C70.0634 112.252 70.3809 112.504 70.7553 112.696C71.13 112.886 71.5543 113.007 72.028 113.059C72.7569 113.14 73.3859 113.032 73.9153 112.736C74.445 112.436 74.883 111.949 75.2294 111.277L77.2421 111.501ZM75.5266 108.422C75.5133 107.938 75.4441 107.504 75.319 107.121C75.1942 106.735 75.0164 106.404 74.7856 106.126C74.5552 105.846 74.2732 105.622 73.9397 105.454C73.6095 105.286 73.2308 105.179 72.8034 105.131C72.3661 105.083 71.9577 105.106 71.5781 105.201C71.199 105.294 70.8561 105.452 70.5495 105.676C70.2465 105.897 69.9835 106.181 69.7604 106.529C69.5377 106.873 69.3627 107.271 69.2353 107.723L75.5266 108.422Z" fill="white"/>
                                <path d="M142.572 110.381L142.999 108.857L153.841 110.061L153.415 111.586L148.869 111.081L145.289 123.746L143.538 123.551L147.118 110.886L142.572 110.381ZM152.311 124.526L155.323 113.885L156.989 114.07L153.977 124.711L152.311 124.526ZM156.868 112.199C156.543 112.162 156.275 112.021 156.065 111.773C155.859 111.527 155.773 111.248 155.808 110.937C155.842 110.627 155.987 110.374 156.242 110.178C156.502 109.983 156.794 109.904 157.119 109.94C157.444 109.976 157.709 110.117 157.915 110.364C158.126 110.611 158.214 110.89 158.179 111.201C158.145 111.512 157.998 111.764 157.738 111.959C157.483 112.155 157.193 112.235 156.868 112.199ZM164.755 114.933L164.372 116.32L158.754 115.695L159.136 114.309L164.755 114.933ZM161.486 111.94L163.152 112.125L160.281 122.268C160.154 122.73 160.126 123.084 160.199 123.331C160.277 123.573 160.415 123.745 160.613 123.848C160.816 123.947 161.04 124.01 161.285 124.037C161.469 124.058 161.62 124.065 161.74 124.059C161.86 124.049 161.957 124.04 162.029 124.034L161.975 125.543C161.844 125.571 161.667 125.595 161.446 125.613C161.229 125.637 160.965 125.631 160.655 125.597C160.184 125.544 159.753 125.394 159.361 125.145C158.97 124.897 158.686 124.554 158.511 124.115C158.336 123.676 158.335 123.147 158.509 122.528L161.486 111.94ZM170.154 111.874L166.148 126.064L164.482 125.879L168.489 111.689L170.154 111.874ZM173.692 127.131C172.652 127.016 171.818 126.689 171.192 126.153C170.566 125.612 170.165 124.91 169.99 124.047C169.815 123.18 169.88 122.201 170.187 121.111C170.494 120.02 170.968 119.082 171.608 118.296C172.248 117.505 173.002 116.917 173.869 116.532C174.736 116.142 175.657 116.002 176.631 116.11C177.196 116.173 177.729 116.327 178.231 116.574C178.732 116.82 179.15 117.176 179.484 117.642C179.819 118.103 180.023 118.688 180.096 119.396C180.17 120.105 180.066 120.956 179.784 121.948L179.593 122.642L171.235 121.713L171.621 120.298L178.285 121.039C178.461 120.439 178.493 119.89 178.382 119.392C178.275 118.894 178.037 118.484 177.668 118.162C177.304 117.84 176.818 117.646 176.211 117.578C175.585 117.509 174.983 117.613 174.404 117.892C173.826 118.166 173.327 118.539 172.907 119.012C172.489 119.48 172.205 119.972 172.057 120.489L171.721 121.71C171.48 122.593 171.422 123.311 171.547 123.863C171.676 124.415 171.96 124.835 172.4 125.122C172.84 125.405 173.411 125.585 174.112 125.663C174.559 125.713 174.978 125.697 175.368 125.617C175.758 125.531 176.116 125.381 176.44 125.164C176.765 124.943 177.049 124.655 177.293 124.301L178.768 124.923C178.448 125.44 178.03 125.879 177.514 126.241C177.002 126.599 176.421 126.858 175.769 127.019C175.123 127.176 174.43 127.213 173.692 127.131Z" fill="white"/>
                            </svg>                                
                        </div>
                        <div class="absolute mt-44 transition-transform group-hover:rotate-[7.5deg]">
                            <svg width="212" height="156" viewBox="0 0 212 156" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="-0.193607" y="29.6036" width="195" height="128" rx="7.5" transform="rotate(-8.85962 -0.193607 29.6036)" fill="#141414" stroke="currentColor"/>
                                <path d="M0.467463 37.0911C-0.213013 32.7255 2.77434 28.6349 7.1399 27.9544L184.992 0.231893C189.358 -0.448585 193.448 2.53877 194.129 6.90433L194.745 10.8566L1.08352 41.0433L0.467463 37.0911Z" fill="#D9D9D9"/>
                                <circle cx="125.549" cy="63.6437" r="9.5" transform="rotate(-8.85962 125.549 63.6437)" fill="#DC2CD0"/>
                                <circle cx="122.007" cy="40.9181" r="9.5" transform="rotate(-8.85962 122.007 40.9181)" fill="#DC2CD0" fill-opacity="0.8"/>
                                <circle cx="147.697" cy="36.9138" r="9.5" transform="rotate(-8.85962 147.697 36.9138)" fill="#DC2CD0" fill-opacity="0.4"/>
                                <circle cx="151.239" cy="59.6393" r="9.5" transform="rotate(-8.85962 151.239 59.6393)" fill="#DC2CD0" fill-opacity="0.6"/>
                                <circle cx="176.929" cy="55.6349" r="9.5" transform="rotate(-8.85962 176.929 55.6349)" fill="#DC2CD0" fill-opacity="0.2"/>
                                <circle cx="173.387" cy="32.9094" r="9.5" transform="rotate(-8.85962 173.387 32.9094)" fill="#DC2CD0" fill-opacity="0.1"/>
                                <circle cx="133.712" cy="116.011" r="9.5" transform="rotate(-8.85962 133.712 116.011)" fill="currentColor"/>
                                <circle cx="130.17" cy="93.2858" r="9.5" transform="rotate(-8.85962 130.17 93.2858)" fill="currentColor" fill-opacity="0.8"/>
                                <circle cx="155.859" cy="89.2814" r="9.5" transform="rotate(-8.85962 155.859 89.2814)" fill="currentColor" fill-opacity="0.4"/>
                                <circle cx="159.402" cy="112.007" r="9.5" transform="rotate(-8.85962 159.402 112.007)" fill="currentColor" fill-opacity="0.6"/>
                                <circle cx="185.091" cy="108.003" r="9.5" transform="rotate(-8.85962 185.091 108.003)" fill="currentColor" fill-opacity="0.2"/>
                                <circle cx="181.549" cy="85.277" r="9.5" transform="rotate(-8.85962 181.549 85.277)" fill="currentColor" fill-opacity="0.1"/>
                                <circle cx="40.8337" cy="130.488" r="9.5" transform="rotate(-8.85962 40.8337 130.488)" fill="#2CCADC"/>
                                <circle cx="37.2914" cy="107.763" r="9.5" transform="rotate(-8.85962 37.2914 107.763)" fill="#2CCADC" fill-opacity="0.8"/>
                                <circle cx="62.9811" cy="103.758" r="9.5" transform="rotate(-8.85962 62.9811 103.758)" fill="#2CCADC" fill-opacity="0.4"/>
                                <circle cx="66.5236" cy="126.484" r="9.5" transform="rotate(-8.85962 66.5236 126.484)" fill="#2CCADC" fill-opacity="0.6"/>
                                <circle cx="92.2133" cy="122.48" r="9.5" transform="rotate(-8.85962 92.2133 122.48)" fill="#2CCADC" fill-opacity="0.2"/>
                                <circle cx="88.6711" cy="99.7541" r="9.5" transform="rotate(-8.85962 88.6711 99.7541)" fill="#2CCADC" fill-opacity="0.1"/>
                                <circle cx="32.6708" cy="78.1208" r="9.5" transform="rotate(-8.85962 32.6708 78.1208)" fill="#2CDC5B"/>
                                <circle cx="29.1286" cy="55.3952" r="9.5" transform="rotate(-8.85962 29.1286 55.3952)" fill="#2CDC5B" fill-opacity="0.8"/>
                                <circle cx="54.8183" cy="51.3908" r="9.5" transform="rotate(-8.85962 54.8183 51.3908)" fill="#2CDC5B" fill-opacity="0.6"/>
                                <circle cx="58.3608" cy="74.1164" r="9.5" transform="rotate(-8.85962 58.3608 74.1164)" fill="#2CDC5B" fill-opacity="0.4"/>
                                <circle cx="84.0505" cy="70.112" r="9.5" transform="rotate(-8.85962 84.0505 70.112)" fill="#2CDC5B" fill-opacity="0.2"/>
                                <circle cx="80.5082" cy="47.3864" r="9.5" transform="rotate(-8.85962 80.5082 47.3864)" fill="#2CDC5B" fill-opacity="0.1"/>
                            </svg>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex w-full max-xl:flex-col">
            <div class="w-[40%] min-h-[475px] relative border-x border-b bg-green-dark/20 border-green/20 rounded-bl-2xl max-2xl:w-1/2 max-xl:w-full max-xl:min-h-0 max-2xl:border-l max-xl:rounded-none">
                <div class="z-40 w-[15px] h-[15px] absolute -bottom-[8px] -right-[8px] flex items-center justify-center">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="z-40 w-[15px] h-[15px] absolute -top-[8px] -left-[8px] flex items-center justify-center">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="z-40 w-[15px] h-[15px] absolute -top-[8px] -right-[8px] flex items-center justify-center">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="z-40 w-[15px] h-[15px] absolute -bottom-[8px] -left-[8px] hidden items-center justify-center max-xl:flex">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="z-10 w-full h-full absolute top-0 right-0  pointer-events-none">
                    <Image src={workBlur} alt="" quality={100} class="w-full h-full object-cover" />
                </div>
                <div class="w-full h-full py-8 px-10 relative max-lg:p-6 max-sm:p-4">
                    <h3 class="text-xl font-semibold uppercase text-green max-lg:text-lg max-sm:text-base">Altri Servizi</h3>
                    <p class="max-w-[325px] mt-2 text-gray/80 max-sm:text-sm max-sm:mt-1">Mi piace sperimentare con stili differenti, mantenendo un equilibrio tra la parte artistica e quella funzionale.</p>
                    <div class="max-w-[350px] flex flex-col gap-2 absolute left-10 bottom-8 max-xl:relative max-xl:left-auto max-xl:bottom-auto max-xl:mt-20 max-xl:pl-2">
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Hosting, VPS, DNS
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Ottimizzazione Costi
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Gestione Mail E Dominio
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Analytics
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Assistenza Informatica
                            <CornerBorder />
                        </span>
                    </div>
                    <div class="w-[100px] h-full absolute top-0 right-12 flex flex-col items-center justify-end pb-8 gap-4 max-2xl:right-4 max-xl:right-[112px] max-lg:right-[60px] max-[700px]:hidden max-lg:py-4">
                        <div class="h-full absolute top-0 border-gray/80 border-r border-dashed z-10"></div>
                        <span class="w-full flex items-center justify-center bg-green-dark border border-green/80 z-20 text-xs py-1 rounded-md font-light">47.96.79.5</span>
                        <div class="w-full h-[100px] flex items-center justify-center border-2 border-green rounded-full bg-main-light z-20 p-1">
                            <div class="w-full h-full rounded-full bg-green-dark border border-green flex items-center justify-center">
                                <span class="text-green text-xl">MX</span>
                            </div>
                        </div>
                        <span class="mt-4 w-full flex items-center justify-center bg-green-dark border border-green/80 z-20 text-xs py-1 rounded-md font-light">55.35.91.14</span>
                        <div class="w-full h-[100px] flex items-center justify-center border-2 border-green rounded-full bg-main-light z-20 p-1">
                            <div class="w-full h-full rounded-full bg-green-dark border border-green flex items-center justify-center">
                                <span class="text-green text-xl">A</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-[40%] border-b relative bg-green-dark/20 border-green/20 min-h-[475px] max-2xl:w-1/2 max-xl:w-full max-2xl:min-h-0 overflow-hidden max-2xl:border-r max-2xl:rounded-br-2xl max-xl:rounded-b-2xl max-xl:border-x">
                <div class="z-10 w-full h-full absolute top-0 right-0  scale-x-[-1] pointer-events-none max-xl:scale-x-[1] max-xl:scale-y-[-1]">
                    <Image src={workBlur} alt="" quality={100} class="w-full h-full object-cover" />
                </div>
                <div class="w-full h-full py-8 px-10 relative overflow-hidden max-lg:p-6 max-sm:p-4">
                    <h3 class="text-xl font-semibold uppercase text-green max-lg:text-lg max-sm:text-base">Implementazione AI &#128293;</h3>
                    <p class="max-w-[325px] mt-2 text-gray/80 max-sm:text-sm max-sm:mt-1">Mi piace sperimentare con stili differenti, mantenendo un equilibrio tra la parte artistica e quella funzionale.</p>
                    <div class="max-w-[350px] flex flex-col gap-2 absolute left-10 bottom-8 max-xl:relative max-xl:left-auto max-xl:bottom-auto max-xl:mt-20 pl-2">
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Image Generation
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Text Generation
                            <CornerBorder />
                        </span>
                        <span class="flex gap-2 items-center text-xs uppercase rounded-full relative max-w-fit">
                            Social Media
                            <CornerBorder />
                        </span>
                    </div>
                    <div class="w-[250px] h-[250px] absolute bottom-0 right-0 pl-2 pt-2 flex flex-col gap-2 max-[700px]:hidden">
                        <div class="w-full px-2 py-1 bg-green-dark/20 rounded-l-lg border-l border-y border-green/20">
                            <span class="text-xs text-green uppercase">Prompt</span>
                            <p class="text-xs text-green">Image of a wheat field during a hot summer, sky filled with white clouds --sref 12457545</p>
                        </div>
                        <div class="w-full grow bg-green-dark/20 border-l border-t border-green/20 rounded-tl-lg pt-2 pl-2 flex flex-col gap-2">
                            <span class="text-xs text-green uppercase">Output</span>
                            <Image src={aiImage} alt="Campo di grano" class="w-full h-full rounded-tl-sm grayscale" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-[20%] min-h-[475px] border-b z-10 border-x relative bg-green-dark/20 border-green/20 rounded-br-2xl max-2xl:hidden">
                <div class="z-30 w-[15px] h-[15px] absolute -bottom-[8px] -left-[8px] flex items-center justify-center">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="z-30 w-[15px] h-[15px] absolute -top-[8px] -left-[8px] flex items-center justify-center">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="z-30 w-[15px] h-[15px] absolute -top-[8px] -right-[8px] flex items-center justify-center">
                    <div class="absolute w-[1px] h-full  bg-green/40"></div>
                    <div class="absolute h-[1px] w-full  bg-green/40"></div>
                </div>
                <div class="w-full h-full flex flex-col justify-between items-center px-4 py-8 overflow-hidden relative">
                    <div class="flex flex-col gap-2 items-center">
                        <span class="text-xl font-semibold uppercase text-green">
                            Sei interessato?
                        </span>
                    </div>
                    <div class="border border-gray/80 w-[9px] h-[9px] rounded-full mt-8"></div>
                    <div class="grow w-[1px] border-r border-gray/80 border-dashed"></div>
                    <button data-open-contatti class="-mt-1">
                        <Button1 text="Fatti sentire :]" href="" />
                    </button>
                    <div class="h-[360px] w-[360px] absolute bottom-0 left-[calc(50%_-_180px)] pointer-events-none">
                        <Image src={blurImage} alt="" class="w-full h-full" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/all";
    import { TextPlugin } from "gsap/TextPlugin";
    gsap.registerPlugin(ScrollTrigger, TextPlugin);
  
    const animate = (selector: any, trigger: any, x = 10, stagger = 0) =>
    gsap.from(selector, {
        opacity: 0,
        x,
        stagger,
        scrollTrigger: { trigger, start: "center bottom" },
    });
  
    for (let i = 1; i < 3; i++) {
      const trigger = `#servizi${i}`;
      animate(`#serviziTag${i} span`, trigger, 10, 0.1);
      animate(`#serviziCheck${i} span`, trigger, 10, 0.1);
      animate(`#serviziTitle${i}`, trigger);
      animate(`#serviziParagraph${i}`, trigger);
      animate(`#serviziImg${i}`, trigger);
    }

    gsap.from('[data-servizi-title]', {
        text: 'ziresiv',
        scrollTrigger: {
            trigger: '[data-servizi-title]',
            start: 'bottom bottom',
            end: 'center center',
            scrub: true
        }
    })

    gsap.to('[data-web-bar-1]', {
        width: 0,
        duration: 3,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })

    gsap.to('[data-web-bar-2]', {
        width: 0,
        duration: 3.5,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })

    gsap.to('[data-web-bar-3]', {
        width: 0,
        duration: 5,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })

    gsap.to('[data-web-bar-4]', {
        width: 0,
        duration: 4.5,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })

    gsap.to('[data-web-bar-5]', {
        width: 0,
        duration: 5.5,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })
  </script>